openapi: 3.1.0
info:
  title: bitHuman
  version: "1.0"
  contact:
    name: bitHuman Support
    url: https://discord.gg/ES953n7bPA
  x-logo:
    url: https://docs.bithuman.ai/bithuman-mark.png
  description: |
    Real-time, lip-synced AI avatars: audio in, talking video out — on
    the cloud, on your own hardware, or in the browser. This is the REST
    contract; the guides, the SDKs and the CLI are on
    [docs.bithuman.ai](https://docs.bithuman.ai).

    All endpoints are relative to `https://api.bithuman.ai` and
    require an `api-secret` header.
    [Get a free API secret →](https://www.bithuman.ai/developer/api-keys)

    This machine-readable spec currently covers the core
    agent / video / dynamics / files / pricing surface. Some developer
    endpoint groups are documented in the markdown guides rather than
    here: [API keys](https://docs.bithuman.ai/api/api-keys)
    (`/v2/{user}/api-secrets*`),
    [runtime sessions](https://docs.bithuman.ai/api/runtime-sessions)
    (`/v2/{user}/runtime-sessions*`),
    [organizations](https://docs.bithuman.ai/api/organizations)
    (`/v2/organizations*`),
    [providers](https://docs.bithuman.ai/api/providers)
    (`/v2/{user}/providers`), and
    [knowledge](https://docs.bithuman.ai/api/knowledge)
    (`/v1/knowledge/*`). Purely internal / infrastructure routes —
    webhook receivers, `/func_*` generation internals, health/telemetry,
    and realtime session plumbing — are excluded entirely: they are not
    part of the public developer contract and may change without notice.

servers:
  - url: https://api.bithuman.ai
    description: Production

security:
  - apiSecret: []

paths:
  /v1/validate:
    post:
      operationId: validateApiSecret
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/validate \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → {"valid": true}
      summary: Validate API secret
      description: |
        Verify that your API secret is valid and your account is active.

        Always returns HTTP 200. Inspect the `valid` field in the body
        to determine outcome — invalid or missing credentials yield
        `{"valid": false}` rather than a 401.
      tags: [Authentication]
      responses:
        "200":
          description: Validation complete (check the `valid` field)
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: true

  /v1/agent/generate:
    post:
      operationId: generateAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/generate \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{
                "prompt": "You are a friendly fitness coach who motivates users.",
                "image": "https://example.com/face.jpg",
                "model": "expression",
                "version": "v2",
                "aspect_ratio": "9:16",
                "framing": "portrait"
              }'
            # model+version selects the engine: expression+v2 → Expression 2.
            # Omit both to default to expression + v1 (Expression 1).
            # → {"success": true, "agent_id": "A91XMB7113", "status": "processing"}
            # then poll GET /v1/agent/status/A91XMB7113
      summary: Generate a new agent
      description: |
        Create a new avatar agent from a text prompt, with optional image
        and audio assets. Poll `/v1/agent/status/{agent_id}` to check
        progress.

        **Agent creation is image-only.** Provide a portrait `image` (or let
        the prompt generate one) — bitHuman generates a **10-second
        identity video internally**, authored to loop seamlessly (its
        first and last frames match). Video input is not part of the creation
        contract for any model and is being removed platform-wide: do not
        send `video` — as the rollout completes, a request carrying it is
        rejected with `400 VIDEO_INPUT_NOT_SUPPORTED` before anything is
        billed.

        **Selecting an engine.** Send `model` (`expression` default, or
        `essence`) + `version` (`v1` default, or `v2`). `expression`+`v2` →
        Expression 2, `essence`+`v2` → Essence 2, and so on. Omitting both
        gives Expression 1. Full engine names (`essence-1` … `expression-2`)
        and `auto` are still accepted directly.

        **Creation time depends on the resolved engine** (the second-generation
        models train real per-identity models — don't apply a 5-minute client
        timeout):

        | model + version | engine | identity input | creation time |
        |---|---|---|---|
        | `expression` + `v1` (default) | Expression 1 | image (or generated from prompt) | **1 min** |
        | `essence` + `v1` | Essence 1 | image (or generated from prompt) | **13 min** |
        | `expression` + `v2` | Expression 2 | image (or generated from prompt) | **2 h 02 m** |
        | `essence` + `v2` | Essence 2 | image (or generated from prompt) — a 10-second identity video is generated internally | **2 h 09 m** — **both Essence 2 models from one creation** |
        | `auto` | classified | image or prompt (classified automatically) | as the routed model (`essence-2` or `expression-2`) |

        Those are one creation per engine, measured end to end on
        **2026-09-20** from this call to `status: "ready"` on
        `GET /v1/agent/status/{agent_id}`. Read them as one observed range,
        not a guarantee: **under 15 minutes for either first-generation
        engine, and about 2 to 2.5 hours for either second-generation one**,
        with individual runs going longer. Neither second-generation engine
        is the fast one — size timeouts in hours for both.

        **Picking the right family:** `essence-2` works best for
        photorealistic human figures; `expression-2` works best for
        cartoonish, stylized, animal, creature, or robot characters. Send
        `model: "auto"` to apply this rule automatically — the platform
        classifies your input and records the recommended model either way.

        **Subject requirement (Essence 2):** `essence-2` requires a **photorealistic
        human** subject. The input is classified before anything is billed; a
        cartoon / animal / creature / robot input is rejected with
        `422 MODEL_SUBJECT_MISMATCH` (nothing charged) — use `expression-2`
        for those characters, or send `model: "auto"` to route
        automatically.

        Failures during generation surface as `status: "failed"` with an
        `error_message` on the status endpoint, and the creation credits
        are automatically refunded.
      tags: [Agent Generation]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: System prompt / personality for the agent. If omitted, a random default is used.
                  example: "You are a friendly fitness coach who motivates users."
                image:
                  type: string
                  description: >-
                    URL to a face image for avatar appearance. For the best
                    likeness use a photo with one clear figure, a neutral
                    expression, facing the camera, a relaxed pose, and no
                    occlusion of the face. This is guidance, not validation —
                    nothing inspects or rejects the photo you send.
                  example: "https://example.com/face.jpg"
                audio:
                  type: string
                  description: URL to audio for voice cloning.
                  example: "https://example.com/voice.wav"
                aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: >-
                    Aspect ratio for the generated identity image and driver
                    video. `16:9` landscape (default), `9:16` portrait, `1:1`
                    square. Images are generated at 1080p on this ratio.
                transparency:
                  type: boolean
                  default: false
                  description: >-
                    When `true`, the identity image is generated on a solid
                    green-screen background (chroma-key friendly) so the avatar
                    can be embedded transparently — the character itself never
                    uses green. Leave `false` for a normal scene background.
                framing:
                  type: string
                  enum: [portrait, full_body]
                  default: portrait
                  description: >-
                    `portrait` (default) frames head-and-shoulders; `full_body`
                    shows the full figure including the feet — use it for
                    kiosk / standing-avatar layouts.
                agent_id:
                  type: string
                  description: Custom agent identifier. Auto-generated if omitted.
                duration:
                  type: integer
                  deprecated: true
                  description: >-
                    **Deprecated — omit it.** The internally generated
                    identity/driver video is standardizing on 10 seconds
                    (authored to loop seamlessly); the parameter is ignored
                    as that rollout completes.
                model:
                  type: string
                  enum: [expression, essence, essence-1, essence-2, expression-1, expression-2, auto]
                  default: expression
                  example: expression
                  description: >-
                    Avatar model **family**: `expression` (default) or
                    `essence`, combined with `version` (`v1` / `v2`) to select
                    the engine — `expression`+`v1` → Expression 1,
                    `essence`+`v2` → Essence 2, and so on. **Essence** is the
                    photorealistic-human engine; **Expression** drives stylized /
                    cartoon / creature characters (and photorealistic figures on
                    v1). An omitted `model` defaults to `expression` at version
                    `v1` (Expression 1) — a v1 engine at the 250-credit rate; an
                    omitted model never silently selects a v2 engine or a higher
                    price.


                    You may still pass a **full engine name** directly
                    (`essence-1`, `essence-2`, `expression-1`, `expression-2`)
                    or `auto`; those pass through unchanged and `version` is
                    ignored, so existing integrations keep working.
                    **`essence-2`** is the second-generation Essence model for
                    photorealistic people — one 500-credit creation that runs
                    everywhere from on-device (CPU / Apple Silicon) up to
                    cloud GPU. (`essence-2-light` is a retired alias — the
                    public name is `essence-2`.) Request it as `essence-2`
                    (or `essence` + `v2`).
                    **`expression-2`** is the second-generation
                    expression engine — audio-driven real-time avatar video from
                    a single photo (creation trains a per-identity model —
                    about 2 hours, as does `essence-2`; see the creation-time
                    table above). **`auto`** classifies your input (the image if
                    provided, else the prompt): a photorealistic person routes to
                    `essence-2`, a cartoon / animal / creature / robot to
                    `expression-2`. Retired engine names return
                    `400 VALIDATION_ERROR`. Identity inputs and creation times
                    differ per model — see the endpoint description table and
                    [Essence vs Expression](#tag/models).
                version:
                  type: string
                  enum: [v1, v2]
                  default: v1
                  example: v2
                  description: >-
                    Engine generation for the chosen `model` family. `v1`
                    (default) selects the first-generation engine (Essence 1 /
                    Expression 1, 250 credits); `v2` selects the
                    second-generation engine (Essence 2, 500 credits, or
                    Expression 2, 2000 credits). Ignored when `model` is a full
                    engine name or `auto`.
      responses:
        "200":
          description: Generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Agent generation started"
                  agent_id:
                    type: string
                    example: "A91XMB7113"
                  status:
                    type: string
                    example: "processing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: >-
            Insufficient credits. Creation is billed **per model** —
            `expression-2` costs 2000 credits; `essence-2` costs 500;
            `auto` bills the
            routed model's rate (500 or 2000); the v1 families (`essence-1`,
            `expression-1`) cost 250. Top up to continue. Returns error code
            `INSUFFICIENT_BALANCE`.
        "400":
          description: >-
            Body failed validation — malformed JSON, an invalid / retired
            `model` value (`VALIDATION_ERROR` — the message lists the
            accepted model names), or a `video` input
            (`VIDEO_INPUT_NOT_SUPPORTED` — agent creation is image-only; the
            10-second identity video is generated internally so it loops
            seamlessly; this rejection is rolling out platform-wide, so
            never send `video`). Rejected before dispatch; no credits
            charged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                validation_error:
                  summary: Invalid model value
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Invalid model 'my-model'; must be one of: auto, essence, essence-1, essence-2, expression, expression-1, expression-2"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
                video_input_not_supported:
                  summary: Video creation input (image-only contract)
                  value:
                    error:
                      code: "VIDEO_INPUT_NOT_SUPPORTED"
                      message: "Agent creation is image-only. Provide a portrait `image`; bitHuman generates a 10-second idle/driver video internally so it loops seamlessly (first frame == last frame). Video input is not accepted for any model (essence-1, expression-1, essence-2, expression-2)."
                      httpStatus: 400
                    status: "error"
                    status_code: 400
        "422":
          description: >-
            `MODEL_SUBJECT_MISMATCH` — an explicit Essence 2 creation
            (`essence-2`) whose input
            is not a photorealistic human subject. The classifier runs on the
            image if provided, else the prompt, **before anything is billed**
            and before any agent row is created. Use `expression-2` for
            cartoon / animal / creature / robot subjects, or `model: "auto"`
            (which never rejects — it routes instead). A classifier outage never
            blocks creation (the gate fails open).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_SUBJECT_MISMATCH"
                  message: "essence-2 requires a photorealistic human subject; this image looks like a cartoon — use expression-2"
                  httpStatus: 422
                status: "error"
                status_code: 422
        "503":
          description: >-
            `MODEL_NOT_YET_AVAILABLE` — the requested second-generation model
            (`essence-2`, `expression-2`, or `auto`, which
            routes only to them) can't accept creations right now. Essence 2
            and Expression 2 have been generally available since their
            July 10, 2026 launch, so this is a rare, temporary operational
            pause — returned **before any dispatch or charge**.
            The v1 families (`essence-1`, `expression-1`) always work; retry
            the v2 model shortly.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_NOT_YET_AVAILABLE"
                  message: "expression-2 isn't available for generation yet. Specify 'essence-1' or 'expression-1' to generate now."
                  httpStatus: 503
                status: "error"
                status_code: 503

  /v1/agent/status/{agent_id}:
    get:
      operationId: getAgentStatus
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/agent/status/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # poll every 5 s until data.status is "ready" (or "failed").
            # "success" is a STEP marker written mid-run — not terminal unless progress == 1.0
      summary: Get agent generation status
      description: |
        Poll this endpoint to check generation progress. Status values:
        `processing`, `generating`, `completed`, `success` (all intermediate);
        `ready` (terminal success); `failed` (terminal error).

        **Keep polling past `generating`, `completed` and `success`** — those
        are intermediate states, not terminal. `completed` can appear early
        (even around ~5% `progress`), and `success` is a STEP-level marker the
        voice/image and video steps each write (~20% and ~45% `progress`), so
        do not stop on either. Only `ready` and `failed` mean polling should
        stop — or `success` when `progress` has also reached `1.0`.

        `current_step` reports the pipeline stage: `payment` (~2%) →
        `persona` (5–15%) → `voice_image` (~20%) → `video` (~45%, the
        internally generated 10-second identity video — models that need
        one) → `lip_sync` (70–99%, the
        model-specific identity step — training/distillation for
        `expression-2` / `essence-2`, so the longest stage) → `done`
        (100%). A rare `essence-1` path reports `awaiting_face_marking`
        (~35%).

        Recommended polling interval: 5 seconds. Size your overall timeout to
        the model: minutes for the first-generation engines, **hours** for
        both second-generation ones — measured 2026-09-20, `expression-2`
        took 2 h 02 m and `essence-2` 2 h 09 m from creation to `ready`
        (see [creation times](#operation/generateAgent)).

        **`ready` does not yet mean downloadable.** The agent can be launched
        and embedded as soon as it reports `ready`, but the downloadable
        model file is published separately, shortly afterwards. Until it is,
        `GET /v1/agent/{code}/model/download` answers
        `404 MODEL_ARTIFACT_NOT_READY` — a retryable code, not a failure. On
        2026-09-20 an `expression-2` agent was still answering it 23 minutes
        after it reported `ready`. Poll the download on that code.
      tags: [Agent Generation]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: >-
            Agent status. `data` is the agent's full record — the same shape
            `GET /v1/agent/{code}` returns.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Agent"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}:
    get:
      operationId: getAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get agent details
      description: Retrieve full details for an agent by its code.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          $ref: "#/components/responses/EdgeBadGateway"
    post:
      operationId: updateAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"system_prompt": "You are a professional sales assistant."}'
      summary: Update an agent's prompt or providers
      description: |
        Update an existing agent's system prompt, its provider selection, or
        both. The agent must already exist (use `POST /v1/agent/generate` to
        create one). Send at least one of `system_prompt` and `providers` — a
        body with neither is rejected `400 MISSING_PARAM`.

        **An agent's `name` cannot be set here, and cannot be set at
        creation either.** Names are generated from the agent's prompt and
        portrait. A body whose only field is `name` changes nothing and
        returns `400 MISSING_PARAM`; sending `name` alongside `system_prompt`
        updates the prompt and ignores the name.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Send `system_prompt`, `providers`, or both. Any other field is ignored.
              properties:
                system_prompt:
                  type: string
                  description: New system prompt for the agent.
                  example: "You are a professional sales assistant."
                providers:
                  type: object
                  description: >-
                    Which provider each capability uses for this agent. Give a
                    capability `"default"` to use the platform's own provider,
                    or an object `{"mode": "custom", "provider_id": "<id>"}` to
                    point it at one you registered yourself. The patch is
                    merged, so a capability you omit keeps its current
                    selection. An unknown capability name, an unusable
                    selection, or a `provider_id` that is not registered on
                    your account is refused `400 VALIDATION_ERROR` at write
                    time with the reason — nothing is stored half-configured.
                  additionalProperties: false
                  properties:
                    llm:
                      $ref: "#/components/schemas/ProviderSelection"
                    stt:
                      $ref: "#/components/schemas/ProviderSelection"
                    tts:
                      $ref: "#/components/schemas/ProviderSelection"
                    realtime:
                      $ref: "#/components/schemas/ProviderSelection"
                  example:
                    llm: { mode: "custom", provider_id: "43c9a2a3-8664-4a33-a66d-77490256e7e1" }
                    tts: "default"
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  updated:
                    type: boolean
                    example: true
              example:
                agent_code: "A91XMB7113"
                updated: true
        "400":
          description: >-
            Nothing to update, or a `providers` patch that cannot be stored.
            `MISSING_PARAM` — the body carried neither `system_prompt` nor
            `providers` (an empty body, or one whose only field is `name`).
            `VALIDATION_ERROR` — malformed JSON, or a `providers` patch naming
            an unknown capability, an unusable selection, or a `provider_id`
            that is not registered on your account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                nothing_to_update:
                  summary: Neither field sent
                  value:
                    error:
                      code: "MISSING_PARAM"
                      message: "Nothing to update — send 'system_prompt' and/or 'providers'"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
                unregistered_provider:
                  summary: A provider id this account has not registered
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "provider_id 'does-not-exist' is not registered on this account"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X DELETE https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → {"success": true, "agent_code": "A91XMB7113", "deleted": true}
      summary: Delete an agent
      description: |
        Permanently delete an agent you own. Stored assets are cleaned up
        best-effort; usage history is retained. Deleting a missing or
        non-owned agent returns 404.
      tags: [Agent Management]
      security:
        - apiSecret: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  deleted:
                    type: boolean
                    example: true
                  artifact_cleanup:
                    type: string
                    description: >-
                      How far the removal of the agent's stored assets has
                      got. `pending` means the delete has been accepted and
                      the files are still being removed in the background —
                      the agent is already gone from `GET /v1/agents` and
                      every route answers `404` for its code.
                    example: "pending"
                  billing_history:
                    type: string
                    description: >-
                      What happened to this agent's billing records. The
                      per-call rows go with the agent; the account-level
                      summaries they roll up into are retained, so your
                      invoice does not change.
                    example: "removed_summary_retained"
              example:
                success: true
                agent_code: "A91XMB7113"
                deleted: true
                artifact_cleanup: "pending"
                billing_history: "removed_summary_retained"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/speak:
    post:
      operationId: agentSpeak
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/speak \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"message": "Hello! Welcome to our demo."}'
      summary: Make agent speak
      description: |
        Send text for the avatar to speak aloud. With `room_id` it goes to that
        one session; without it, to every deliverable session of the agent.
        The agent must be in at least one active LiveKit room.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: Text for the avatar to speak.
                  example: "Hello! Welcome to our demo."
                room_id:
                  type: string
                  description: Target a specific room (optional, defaults to all active rooms).
      responses:
        "200":
          description: Speech triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  context_type:
                    type: string
                    example: "speak"
                  delivered_to_rooms:
                    type: integer
                    example: 1
                    description: Number of active rooms that received the message.
                  rooms:
                    type: array
                    items: {type: string}
                    description: Room ids that received the message.
                    example: ["room-A91XMB7113-x1y2-z3w4"]
                  rooms_skipped:
                    type: array
                    items: {type: string}
                    description: Live rooms with no agent worker attached, so not delivered to.
                  rooms_failed:
                    type: array
                    items: {type: string}
                    description: Rooms the publish was attempted on and failed.
                  rooms_skipped_no_worker:
                    type: integer
                    description: Length of rooms_skipped.
                    example: 0
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/sessions:
    get:
      operationId: listAgentSessions
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/agent/A91XMB7113/sessions \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List an agent's live sessions
      description: |
        The sessions this agent has open now. Pass a returned `room_id` to
        /speak or /add-context to address ONE session instead of broadcasting.
        `deliverable` is false when the room is live but no agent worker is
        attached — /speak on such a room returns 404.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Live sessions (possibly an empty list)
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  sessions:
                    type: array
                    items:
                      type: object
                      properties:
                        room_id:
                          type: string
                          example: "room-A91XMB7113-x1y2-z3w4"
                        num_participants:
                          type: integer
                          example: 3
                        created_at:
                          type: integer
                          description: LiveKit room creation time, Unix seconds.
                          example: 1788480000
                        deliverable:
                          type: boolean
                          description: Whether an agent worker is attached and /speak would reach it.
                          example: true
                        matched_by:
                          type: string
                          enum: [name, ledger, "name+ledger", loose]
                          description: How the room was bound to this agent.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/add-context:
    post:
      operationId: addContext
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/add-context \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"context": "The customer just purchased a premium plan."}'
      summary: Add context to agent
      description: |
        Inject background knowledge into the agent's context. The avatar
        won't say this aloud, but will use the information in future responses.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context]
              properties:
                context:
                  type: string
                  description: Knowledge to inject.
                  example: "The customer just purchased a premium plan."
                type:
                  type: string
                  enum: [add_context, speak]
                  default: add_context
                  description: "`add_context` for silent knowledge (default), `speak` to trigger verbal response."
                room_id:
                  type: string
                  description: Target a specific room (optional).
      responses:
        "200":
          description: Context added
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  context_type:
                    type: string
                    example: "add_context"
                  delivered_to_rooms:
                    type: integer
                    example: 1
                    description: Number of active rooms that received the context.
                  rooms:
                    type: array
                    items: {type: string}
                    description: Room ids that received the context.
                    example: ["room-A91XMB7113-x1y2-z3w4"]
                  rooms_skipped:
                    type: array
                    items: {type: string}
                    description: Live rooms with no agent worker attached, so not delivered to.
                  rooms_failed:
                    type: array
                    items: {type: string}
                    description: Rooms the publish was attempted on and failed.
                  rooms_skipped_no_worker:
                    type: integer
                    description: Length of `rooms_skipped`.
                    example: 0
              example:
                agent_code: "A91XMB7113"
                context_type: "add_context"
                delivered_to_rooms: 1
                rooms_skipped_no_worker: 0
                rooms: ["room-A91XMB7113-x1y2-z3w4"]
                rooms_skipped: []
                rooms_failed: []
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/models:
    post:
      operationId: addAgentModel
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/models \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"model": "expression-2"}'
            # → {"success": true, "status": "processing", ...} — poll
            #   GET /v1/agent/status/A91XMB7113 until supported_models lists it
      summary: Add a model to an existing agent
      description: |
        Add an avatar model to an agent you already created — no need to
        re-create the agent or regenerate its persona/voice/image. The agent
        must be in the `ready` state (else `409 AGENT_NOT_READY`).

        | model | what happens | prerequisites | credits | time |
        |---|---|---|---|---|
        | `expression-1` | **instant enablement** — the v1 engine drives the agent's existing image + voice at runtime; nothing is trained | stored image + voice | **0** | immediate (this response) |
        | `expression-2` | trains the per-identity Expression 2 model from the stored image | stored image | 2000 | the same training an `expression-2` creation runs — about 2–2.5 h (see [creation times](#operation/generateAgent)) |
        | `essence-2` | trains Essence 2 from the agent's stored identity video (generated internally at creation) | stored identity video (else `422`) + photorealistic-human subject (else `422 MODEL_SUBJECT_MISMATCH`) | 500 | the same training an `essence-2` creation runs — about 2–2.5 h (see [creation times](#operation/generateAgent)) |
        | `essence-1` | builds the v1 `.imx` from the agent's stored identity video (or generates one internally from the stored image) | stored identity video or image | 250 | ~10–20 min |

        Asynchronous adds return `status: "processing"` — poll
        [`GET /v1/agent/status/{agent_id}`](#tag/Agent-Generation/operation/getAgentStatus)
        until `supported_models` contains the new family. Charges are refunded
        automatically if the add fails; re-POSTing the same model never
        double-charges, and returns `status: "ready"` with `credits: 0` once
        the model already exists.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                  enum: [essence-1, essence-2, expression-1, expression-2]
                  description: >-
                    The model to add. The Essence 2 tiers are not individually
                    addable — `essence-2` is the one combined add (Light train
                    + Quality from the same identity video). Anything else
                    returns `400 VALIDATION_ERROR` listing these options.
                  example: "expression-2"
      responses:
        "200":
          description: >-
            Model added (`status: "ready"` — instant/already available) or the
            add started (`status: "processing"` — poll supported_models).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  agent_id:
                    type: string
                  model:
                    type: string
                  status:
                    type: string
                    enum: [ready, processing]
                  credits:
                    type: integer
                    description: Credits charged for this add (0 for instant enablement / already available).
                  supported_models:
                    type: array
                    items:
                      type: string
                    description: The agent's launchable model families at response time.
                  message:
                    type: string
        "400":
          description: Invalid `model` (the message lists the addable options).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >-
            `AGENT_NOT_READY` — the agent is still generating or failed;
            models can only be added to a ready agent.
        "422":
          description: >-
            `MODEL_PREREQUISITE_MISSING` — the agent lacks a stored asset the
            model needs (e.g. `essence-2` needs the agent's stored identity
            video — generated internally by Essence creations, never
            uploaded), or
            `MODEL_SUBJECT_MISMATCH` — the Essence 2 family requires a
            photorealistic human subject and the stored image is a
            cartoon/animal/creature/robot (use `expression-2`).
        "503":
          description: >-
            `MODEL_NOT_YET_AVAILABLE` — adding a second-generation model
            (`essence-2`, `expression-2`) can't be dispatched right now.
            Both models have been generally available since the July 10, 2026
            launch, so this is a rare, temporary operational pause. Rejected
            before any charge — retry shortly. Adding the v1
            models always works.

  /v1/agent/{code}/model/download:
    get:
      operationId: downloadAgentModel
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            # 302 redirect to the artifact — -L follows it, -o names the file
            curl -L -o "A17ZTB0222.imx" \
              "https://api.bithuman.ai/v1/agent/A17ZTB0222/model/download?model=expression-2" \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → A17ZTB0222.imx  (add ?redirect=false for the URL as JSON)
      summary: Download an agent's model artifact
      description: |
        Download the generated model file for an agent you own. The family
        defaults to the agent's own model; override with `?model=<family>`
        (canonical names, legacy names, and runtime tier slugs all fold onto
        their family). Artifact per family:

        | family | artifact |
        |---|---|
        | `essence-1` | `<code>.imx` (the portable IMX container) |
        | `essence-2` | `<CODE>.imx` — the standard Essence 2 artifact (unified IMX container; size is per identity — read `Content-Length` rather than assuming a figure; **licensed weights** — renders locally in the CLI, the Python SDK, the Android library and the Swift `Essence2` product, and the first local play checks the licence with the cloud, so it needs a sign-in: https://docs.bithuman.ai/sdk/cli#what-renders-locally-and-where). `essence-2-light` is a retired internal alias for this family. |
        | `expression-2` | `<code>.avatar` — the frozen back-compat alias of `.imx`, not a distinct encoding: 96 of the 110 published objects are the current bitHuman container and 14 are still the pre-2026-07-12 CoreML zip (measured 2026-09-01; `bithuman info` reports which), ~20–90 MB per identity — runs locally on macOS (Apple Silicon) and Linux x86_64, or in the browser, and is also served on bitHuman's cloud |
        | `expression-1` | normally not downloadable (the shared v1 engine renders server-side from the agent's image) → `400 MODEL_NOT_DOWNLOADABLE`; an agent that went through the lip step owns a baked `<code>.imx` and is redirected to it like `essence-1` |

        The default response is a **302 redirect** to the artifact — the
        public URL for `essence-1`, a **1-hour signed URL** on a private
        bucket for the other families — so `curl -L` and browser anchors just
        work. Pass `?redirect=false` to get the URL as JSON instead.

        **Name the file yourself** (`curl -L -o "<CODE>.imx"`). The redirect
        target does not always send a `Content-Disposition` header — the
        public `essence-1` URL sends none — so a filename-from-the-header
        flag such as `curl -LOJ` silently falls back to the last path segment
        of the request URL and writes a file called `download`. With
        `?redirect=false` the JSON carries the intended name in `filename`.

        The launchability gate doubles as the download gate: a family the
        agent can't be launched as (missing from `supported_models`) returns
        `409 MODEL_NOT_GENERATED`. A family the agent supports whose artifact
        hasn't been published to the download store yet returns
        `404 MODEL_ARTIFACT_NOT_READY` — the message says when to retry;
        **poll on that code**.

        **Every grant is recorded.** A model download costs **0 credits** on
        the [pricing table](https://docs.bithuman.ai/guides/pricing) — only
        runtime minutes bill — but the grant still writes exactly one usage row
        before the URL is issued, under the family's self-hosted pricing code,
        and hands you its id in `X-Bithuman-Meter-Id`. The rows show up in
        `GET /v1/usage` at 0 credits; they are a record of what you fetched,
        not a charge. The order matters both ways: a meter that refuses
        (`402`) or fails (`500`) returns no URL at all.

        The [bitHuman CLI](https://docs.bithuman.ai/sdk/cli/commands) wraps
        this endpoint: `bithuman pull <AGENT_CODE>` downloads the artifact,
        recognizes its model family, and prints what to do next.

        **Showcase identities need no credential.** The `essence-2` and
        `expression-2` identities listed by
        [`GET /v1/models/showcase`](#tag/Agent-Management/operation/getShowcaseManifest)
        are served to anonymous callers — same 302, same 1-hour signed URL, and
        the owner is charged **0 credits**. Every other agent still needs the
        `api-secret` header (or `Authorization: Bearer <api-secret | runtime
        token>`) and must be owned by the caller; an anonymous request for one
        answers `401 MISSING_AUTH`, the same answer an unknown code gets.
      # Showcase identities are served to anonymous callers; every other agent
      # needs the api-secret header. Both are valid, so a generated client does
      # not hard-require the header on a route that accepts a bare request.
      security:
        - apiSecret: []
        - {}
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: >-
            Agent code. The agent must be owned by the caller (else 404) —
            except for the showcase identities in
            `GET /v1/models/showcase`, which are served with no credential.
          example: "A17ZTB0222"
        - name: model
          in: query
          required: false
          schema:
            type: string
            enum: [essence-1, essence-2, expression-2]
          description: >-
            Artifact family. Defaults to the agent's own model. The retired
            `essence-2-light` name and the runtime tier slugs (`essence-2-apple`,
            `essence-2-gpu`, `essence-2-cpu`, `expression-2-gpu`; the older
            `essence-2-ane` spelling stays accepted) fold onto
            their family. `essence-2-quality` is **no longer accepted** — it
            was retired on 2026-07-29 and now returns `400 VALIDATION_ERROR`;
            send `essence-2`. Any other unrecognized value returns the
            same `400`, listing the downloadable families.
          example: "expression-2"
        - name: member
          in: query
          required: false
          schema:
            type: string
          description: >-
            Fetch ONE on-device model member instead of the whole container.
            `essence-2` and `expression-2` publish a browser/Android bundle
            beside the container — a `web_manifest.json` and the members it
            lists (`combined_fp32.tflite`, `canon.bin`, ...) — and this serves
            a single one of them, so a browser or an Android runtime pulls only
            the lane it runs. Same entitlement as the container, same 1-hour
            signed URL, and the URL honours `Range` (`curl -L -r 0-1023`
            answers `206`, so OkHttp and browsers resume). Pass
            `web_manifest.json` first to learn the member names. A member of a
            **public** agent is served to an anonymous caller, like the browser
            already serves those agents; every other visibility needs the same
            credential as the container.
          example: "web_manifest.json"
        - name: plane
          in: query
          required: false
          schema:
            type: string
            enum: [android, web]
          description: >-
            Which member set `?member=` names. `essence-2` publishes two — one
            for browsers and one for Android — and twelve names appear in both
            of them, `manifest.json` among them. A browser asking for
            `manifest.json` and a handset asking for `manifest.json` want
            different files, so for those twelve the request has to say which
            set it means. Only meaningful alongside `member=`: the container
            itself has one form, so `plane=` on its own returns
            `400 VALIDATION_ERROR`, as does any value not listed above.
            **You can usually leave it out.** A member that appears in only one
            of the two sets identifies itself — which is why the Android
            runtime's first call, `member=android_store.v1.json`, resolves with
            no `plane=` at all. When a name appears in both and the request says
            nothing, it resolves to the browser set, so every caller written
            before this parameter behaves exactly as it did.
          example: "android"
        - name: redirect
          in: query
          required: false
          schema:
            type: string
            enum: ["false", "0", "no"]
          description: >-
            Pass `false` to receive the artifact URL as JSON (below) instead
            of a 302 redirect — for UIs that want to fetch or label first.
      responses:
        "302":
          description: >-
            Redirect to the artifact — a public URL for `essence-1`, a
            1-hour signed URL for the private families. Follow it and name
            the file yourself (`curl -L -o "<CODE>.imx"`); the target does
            not always send a `Content-Disposition` header.
          headers:
            Location:
              schema:
                type: string
              description: The artifact URL.
            X-Bithuman-Meter-Id:
              schema:
                type: string
              description: >-
                The id of the single `activities` row this grant wrote. Every
                download is metered BEFORE the URL is issued — a model download
                costs **0 credits** on the published
                [pricing table](https://docs.bithuman.ai/guides/pricing), and 0
                is a price, not a reason to skip the record. The row carries
                the family's self-hosted pricing code (e.g.
                `usage_essence_2_model_self_hosted`) and appears in
                `GET /v1/usage`; quote this id when reconciling one.
            X-Bithuman-Model:
              schema:
                type: string
              description: The canonical family actually served (`expression-2`, `essence-2`, ...).
            X-Bithuman-Model-Source:
              schema:
                type: string
              description: >-
                Why this family was chosen — `requested` when `?model=` named
                it, otherwise the agent's own default. Container arm only.
            X-Bithuman-Supported-Models:
              schema:
                type: string
              description: >-
                Comma-separated list of the other families this agent could
                have served, in the same public spellings `?model=` accepts —
                retry with one of them without a second request. Container arm
                only.
            X-Bithuman-Model-Member:
              schema:
                type: string
              description: The member name served. `?member=` arm only.
        "200":
          description: With `?redirect=false` — the artifact URL as JSON.
          headers:
            X-Bithuman-Meter-Id:
              schema:
                type: string
              description: >-
                The id of the single `activities` row this grant wrote. Every
                download is metered BEFORE the URL is issued — a model download
                costs **0 credits** on the published
                [pricing table](https://docs.bithuman.ai/guides/pricing), and 0
                is a price, not a reason to skip the record. The row carries
                the family's self-hosted pricing code (e.g.
                `usage_essence_2_model_self_hosted`) and appears in
                `GET /v1/usage`; quote this id when reconciling one.
            X-Bithuman-Model:
              schema:
                type: string
              description: The canonical family actually served (`expression-2`, `essence-2`, ...).
            X-Bithuman-Model-Source:
              schema:
                type: string
              description: >-
                Why this family was chosen — `requested` when `?model=` named
                it, otherwise the agent's own default. Container arm only.
            X-Bithuman-Supported-Models:
              schema:
                type: string
              description: >-
                Comma-separated list of the other families this agent could
                have served, in the same public spellings `?model=` accepts —
                retry with one of them without a second request. Container arm
                only.
            X-Bithuman-Model-Member:
              schema:
                type: string
              description: The member name served. `?member=` arm only.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "A17ZTB0222"
                      model:
                        type: string
                        description: The resolved canonical family.
                        example: "expression-2"
                      filename:
                        type: string
                        example: "A17ZTB0222.imx"
                      url:
                        type: string
                        description: The artifact URL (signed, 1-hour TTL, for the private families).
                      expires_in:
                        type: [integer, "null"]
                        description: Signed-URL TTL in seconds (3600); `null` for the public essence-1 URL.
                        example: 3600
        "400":
          description: >-
            `VALIDATION_ERROR` — unknown `model` value (the message lists the
            downloadable families), or `MODEL_NOT_DOWNLOADABLE` — the family
            has no per-identity artifact to download (`expression-1` renders
            server-side from the agent's image).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: >-
            `INSUFFICIENT_BALANCE` — the download could not be metered against
            your account. Every grant writes its usage row BEFORE the URL is
            issued, so a refused meter returns **no URL at all** rather than an
            artifact nobody can account for. A download itself costs 0 credits;
            this is what a suspended or depleted account sees.
        "404":
          description: >-
            `NOT_FOUND` — agent unknown or not owned by this account; or
            `MODEL_ARTIFACT_NOT_READY` — the family is supported but its
            artifact hasn't been published to the download store yet. The
            message says when to retry; poll on this code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_ARTIFACT_NOT_READY"
                  message: "agent A17ZTB0222's expression-2 artifact isn't available for download yet: the Mac-runnable build is paced, typically within the hour"
                  httpStatus: 404
                status: "error"
                status_code: 404
        "409":
          description: >-
            `MODEL_NOT_GENERATED` — the requested family isn't in the agent's
            `supported_models` (same gate as embed/session launch), e.g.
            `agent <code>'s expression-2 model hasn't been generated yet`
            — create with, or add, that model to generate it.
        "429":
          description: Rate limited (read bucket) — `RATE_LIMITED`.
        "500":
          description: >-
            `INTERNAL_ERROR` — the artifact could not be resolved, or the usage
            row could not be written. In both cases **no URL is issued**: a
            grant we cannot record is not handed out. Safe to retry.
        "503":
          description: >-
            `SERVICE_UNAVAILABLE` — the download service briefly lost its
            connection to storage and could not recover within the request.
            **No URL is issued and nothing is metered.** Retry after the
            `Retry-After` delay; the same request then succeeds.
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying (currently 2).

  /v1/files/upload:
    post:
      operationId: uploadFile
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/files/upload \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"file_url": "https://example.com/avatar.jpg", "file_type": "image"}'
      summary: Upload a file
      description: |
        Upload images, videos, audio, or documents. Files are auto-organized
        by type. Supports URL download or direct base64 upload.
      tags: [Files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Upload by URL
                  required: [file_url]
                  properties:
                    file_url:
                      type: string
                      description: Public URL to download the file from.
                      example: "https://example.com/avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
                      description: File type (auto-detected if omitted).
                - type: object
                  title: Upload by base64
                  required: [file_data, file_name]
                  properties:
                    file_data:
                      type: string
                      description: Base64-encoded file data.
                    file_name:
                      type: string
                      description: Original filename with extension.
                      example: "avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
      responses:
        "200":
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "File uploaded successfully"
                  data:
                    type: object
                    properties:
                      file_url:
                        type: string
                        description: Public CDN URL of the uploaded file.
                      original_source:
                        type: string
                        description: Original URL or filename.
                      file_type:
                        type: string
                        description: Detected file type category.
                      file_size:
                        type: integer
                        description: File size in bytes.
                      mime_type:
                        type: string
                        description: MIME content type.
                      asset_category:
                        type: string
                        description: Storage category (images, videos, audio, docs).
                      uploaded_at:
                        type: string
                        format: date-time
        "400":
          description: "`file_url` could not be downloaded — unreachable, non-public, or blocked (`DOWNLOAD_FAILED`); or `file_data` was not valid base64 (`VALIDATION_ERROR`)."
        "413":
          description: File too large (max 10 MB for images, 100 MB for video)
        "415":
          description: Unsupported file type

  /v1/me:
    get:
      operationId: getMe
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/me \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get current account
      description: >-
        The canonical account preflight — returns your identity, plan, and live
        credit balance in one call. Use it to show "who am I / how many credits"
        and to gate features before a billable call.
      tags: [Account]
      responses:
        "200":
          description: Account retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                      email:
                        type: string
                      plan:
                        type: string
                        example: "pro"
                      plan_code:
                        type: string
                        example: "membership_pro"
                      credit_balance:
                        type: integer
                        example: 5836982
                        description: Total spendable credits = plan + topup + reward.
                      plan_credits_remaining:
                        type: integer
                        example: 5055
                      topup_credits_remaining:
                        type: integer
                        example: 5831600
                      account_status:
                        type: string
                        example: "active"
                      upgrade_url:
                        type: string
                      pricing_url:
                        type: string
                  status:
                    type: string
                    example: "success"
                  status_code:
                    type: integer
                    example: 200
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/models/showcase:
    get:
      operationId: getShowcaseManifest
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            # No credential, no account. Every entry is downloadable by anyone.
            curl -s https://api.bithuman.ai/v1/models/showcase | jq '.models[] | {slug, model, size}'
        - lang: shell
          label: bitHuman CLI
          source: |
            bithuman list --manifest https://api.bithuman.ai/v1/models/showcase
            bithuman pull bolt --manifest https://api.bithuman.ai/v1/models/showcase
            bithuman run ~/.cache/bithuman/showcase/bolt.imx --audio hello.wav --output out.mp4
      summary: List the freely downloadable showcase models
      description: |
        The catalogue of **Essence 2** and **Expression 2** showcase identities
        whose model weights anyone may download — no api-secret, no account.

        Each entry's `url` is
        [`GET /v1/agent/{code}/model/download`](#tag/Agent-Management/operation/downloadAgentModel),
        which answers a **302** to a 1-hour signed URL for anonymous callers
        too. The grant is still recorded (one usage row) and costs the agent's
        owner **0 credits** — an anonymous download is free or refused, never
        billed to the owner.

        The list is generated from the download route's own admission
        predicate, so a code listed here is a code the route serves: an
        `essence-2` or `expression-2` identity that is ready, listed in the
        agent gallery, owns its own artifact, and whose owner has authorised
        anonymous distribution of the weights. Agents that are merely public in
        the gallery are **not** here — being viewable is a different permission
        from the weights being distributable.

        The shape is the bitHuman CLI's manifest v2, so the shipped CLI
        consumes it directly with `--manifest`.

        **Performance, honestly.** `expression-2` clears realtime on a
        developer CPU. `essence-2` renders at roughly **1.1 fps on CPU**
        (about 22x below realtime) and wants a GPU for anything interactive —
        `note_performance` in the reply says the same.

        `sha256` is deliberately empty: no content digest is recorded for these
        objects yet, and the CLI skips verification on an empty value rather
        than failing. Verify `size` and the file itself (`bithuman info`)
        instead.

        Throttled per IP; the reply is cached for 60 seconds.
      tags: [Agent Management]
      security: []
      responses:
        "200":
          description: The showcase catalogue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: integer
                    example: 2
                  updated:
                    type: string
                    example: "2026-09-10"
                  source:
                    type: string
                  selection_criteria:
                    type: string
                  note_performance:
                    type: object
                    additionalProperties:
                      type: string
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                          example: "bolt"
                        name:
                          type: string
                          example: "Bolt"
                        description:
                          type: string
                        model:
                          type: string
                          enum: [essence-2, expression-2]
                        agent_code:
                          type: string
                          example: "X03BOLT"
                        category:
                          type: string
                        is_featured:
                          type: boolean
                        url:
                          type: string
                          example: "https://api.bithuman.ai/v1/agent/X03BOLT/model/download?model=expression-2"
                        sha256:
                          type: string
                          description: Empty — no digest is published for these objects yet.
                        size:
                          type: integer
                          example: 198106157
                        votes:
                          type: integer
        "429":
          description: Too many requests from this address.

  /v1/pricing:
    get:
      operationId: getPricing
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/pricing \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get credit pricing
      description: >-
        Machine-readable credit pricing for billable operations, so you can
        estimate cost before a call. Authoritative charges are always enforced
        server-side at request time. For forward per-minute realtime estimates
        based on your current balance, see `GET /v2/credit-summaries`
        (`minutes_estimate`).
      tags: [Account]
      responses:
        "200":
          description: Pricing retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      unit:
                        type: string
                        example: "credits"
                      agent_generation:
                        type: object
                        description: >-
                          Agent creation is priced **per model** — read
                          `by_model` (there is no flat rate). `expression-2`
                          costs 2000 credits; the Essence 2 family costs 500
                          (`essence-2` is the combined Essence 2 creation —
                          one 500-credit charge covers both models); the v1
                          families cost 250. `auto` charges the routed
                          model's rate (500 for `essence-2`, 2000 for
                          `expression-2`). Post-generation adds via
                          `POST /v1/agent/{code}/models` charge the same
                          per-model rates (adding `expression-1` is free).
                        properties:
                          unit:
                            type: string
                            example: "credits"
                          by_model:
                            type: object
                            additionalProperties:
                              type: integer
                            description: >-
                              One-time creation cost per canonical `model`
                              value accepted by `POST /v1/agent/generate`.
                              The pre-rename `essence-2-quality` spelling was
                              removed on 2026-07-29 — sending it now returns
                              a `400`.
                            example:
                              essence-1: 250
                              expression-1: 250
                              expression-2: 2000
                              essence-2: 500
                              auto: 2000
                          note:
                            type: string
                      talking_video:
                        type: object
                        properties:
                          unit:
                            type: string
                            example: "credits_per_minute"
                          billing:
                            type: string
                            example: "ceil(minutes) * rate, minimum 1 minute"
                          rates:
                            type: object
                            additionalProperties:
                              type: integer
                            example:
                              essence-1: 2
                              expression-1: 4
                              expression-2: 4
                              essence-2: 4
                      dynamics_generation:
                        type: object
                        properties:
                          flat:
                            type: integer
                            example: 250
                          note:
                            type: string
                      notes:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v2/credit-summaries:
    get:
      operationId: getCreditSummaries
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v2/credit-summaries \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Check credit balance
      description: |
        Returns the current credit balance, plan details, and estimated minutes
        remaining for each usage type. Always scoped to the **authenticated
        account** (the owner of the `api-secret`) — there is no way to look up
        another user.
      tags: [Billing]
      security:
        - apiSecret: []
      parameters:
        - name: app
          in: query
          required: false
          description: App identifier for multi-app subscription support.
          schema:
            type: string
            default: imaginex
        - name: app_key
          in: query
          required: false
          description: Explicit subscription key for collection-scoped apps. Defaults to the same value as `app`.
          schema:
            type: string
      responses:
        "200":
          description: Credit balance retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: The authenticated account's UUID.
                      balance:
                        type: number
                        format: float
                        description: Sum of plan + topup + reward credits, returned as a float (e.g. 5910592.0).
                        example: 5910592.0
                      plan_credits:
                        type: number
                        format: float
                      topup_credits:
                        type: number
                        format: float
                      minutes_estimate:
                        type: object
                        description: >-
                          Advisory forward runway: balance divided by each
                          serving mode's credits/min rate. One key per model and
                          hosting mode (essence_2_cloud, essence_2_self_hosted,
                          expression_2_cloud, expression_2_self_hosted,
                          essence_1_cloud, essence_1_self_hosted,
                          expression_1_cloud, expression_1_self_hosted), plus
                          voice_chat and camera_chat for managed agents. The
                          unversioned essence_* / expression_* keys are retained
                          aliases for the FIRST-generation models - they are NOT
                          the Essence 2 rate.
                        additionalProperties:
                          type: integer
                      is_enterprise:
                        type: boolean
                      isEnterprisePlanUser:
                        type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/embed-tokens/request:
    post:
      operationId: requestEmbedToken
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/embed-tokens/request \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_id": "A78WKV4515", "fingerprint": "9f3c8b1a2d4e5f6789ab"}'
            # → data.token is a 1-hour JWT for the embed widget
      summary: Generate embed token
      description: Generate a JWT token for embedding an avatar on a website. Use this from your backend — never expose your API secret in frontend code.
      tags: [Embedding]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - fingerprint
              properties:
                agent_id:
                  type: string
                  description: Agent code (e.g. A78WKV4515)
                  example: "A78WKV4515"
                fingerprint:
                  type: string
                  description: Stable per-device hex string used for session tracking and per-visitor rate limiting. Required.
                  example: "9f3c8b1a2d4e5f6789ab"
                model:
                  type: string
                  description: >-
                    Optional. Request a specific avatar model for the embed
                    session — a model name (`essence-1`, `expression-1`,
                    `essence-2`, `expression-2`) or a
                    force-tier slug that pins one serving tier
                    (`expression-2-gpu/-cpu/-apple`, `essence-2-gpu/-apple/-cpu`; the older
                    `-ane` spelling of the Apple tier stays accepted;
                    the legacy `essence-2-light-gpu/-cpu` slugs still pin
                    their tiers, and retired `essence-2-light(-ane)` values
                    route to the `essence-2` chain). This is the **early
                    artifact gate**: if the requested model folds onto the
                    `expression-2` / `essence-2` families and the
                    agent's trained per-identity model hasn't been generated
                    yet, the request is rejected `409 MODEL_NOT_GENERATED`
                    instead of failing later at session dispatch. Unknown
                    values return `400 VALIDATION_ERROR` listing the accepted
                    names. Omitted → the agent's own default model.
                  example: "expression-2"
      responses:
        "200":
          description: Token generated. The returned `token` is a JWT (HS256-signed) with a 1-hour TTL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  status_code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 1-hour JWT to pass as the `data-token` attribute on the embed widget script tag.
                      sid:
                        type: string
                        description: Session identifier for tracking this embed instance.
                      model:
                        type: string
                        description: The model baked into the token claim (present when `model` was requested).
                      supported_models:
                        type: array
                        items: { type: string }
                        description: >-
                          Canonical model families this agent can be launched
                          as right now (e.g. a ready expression-2 agent lists
                          `expression-2`). Tier slugs inherit their family
                          and are not listed.
                        example: ["essence-2", "expression-2"]
        "400":
          description: >-
            `MISSING_PARAM` — the body left out `agent_id` or `fingerprint`;
            both are required and neither has a default.
            `VALIDATION_ERROR` — the `model` field names something that is not
            an accepted model; the message lists the names that are.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missing_fingerprint:
                  summary: No fingerprint
                  value:
                    error:
                      code: "MISSING_PARAM"
                      message: "Missing fingerprint parameter"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
                missing_agent_id:
                  summary: No agent_id
                  value:
                    error:
                      code: "MISSING_PARAM"
                      message: "Missing agent_id parameter"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
                unknown_model:
                  summary: A model name that does not exist
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Invalid model 'essence-3'; must be one of: essence-1, expression-1, essence-2, expression-2 (legacy names and tier slugs are still accepted)"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: >-
            `NOT_FOUND` — no agent matches `agent_id` under this API secret.
            A **deleted** agent answers this too, so a delete takes the agent
            out of the embed path immediately.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "NOT_FOUND"
                  message: "Agent not found for code: A91XMB7113"
                  httpStatus: 404
                status: "error"
                status_code: 404
        "409":
          description: >-
            `MODEL_NOT_GENERATED` — the requested `model` folds to a known
            family the agent can't be launched as right now (it is missing
            from the agent's `supported_models`). For the trained families
            (`expression-2` / `essence-2`) the message is `agent
            <code>'s <model> model hasn't been generated yet`. Add the
            model (`POST /v1/agent/{code}/models`) or create the agent with
            it, then retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_NOT_GENERATED"
                  message: "agent A56ZFX6217's expression-2 model hasn't been generated yet"
                  httpStatus: 409
                status: "error"
                status_code: 409

  /v1/runtime-tokens/mint:
    post:
      operationId: mintScopedRuntimeToken
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/runtime-tokens/mint \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_code": "A78WKV4515"}'
            # → {"scoped_token": "...", "user_id": "...", "agent_code": "A78WKV4515", "expires_at": 1757280000}
      summary: Mint a scoped runtime token for one agent
      description: |
        Exchange your API secret, **server-side**, for a 1-hour token bound to a
        single `agent_code` — so a browser, a phone app or any other client you
        do not fully control never holds your master secret.

        This is the credential the on-device paths accept. It works as
        `Authorization: Bearer <scoped_token>` on
        [the model download route](#operation/downloadAgentModel), including
        the `?member=` fetch the browser and Android runtimes use.

        The scope is real: presenting the token for a **different** agent code
        answers `404`, exactly like a code you do not own. It expires in one
        hour and is not refreshable — mint another.

        Call this from your server. Never ship the api-secret this endpoint
        consumes to a client.
      tags: [Authentication]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_code]
              properties:
                agent_code:
                  type: string
                  example: "A78WKV4515"
                  description: The one agent this token may act for.
      responses:
        "200":
          description: A scoped token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scoped_token: { type: string }
                  user_id: { type: string }
                  agent_code: { type: string, example: "A78WKV4515" }
                  expires_at:
                    type: integer
                    description: Unix seconds; one hour from minting.
        "400":
          description: "`agent_code` is required."
        "401":
          description: Missing or invalid api-secret.

  /v1/runtime-tokens/request:
    post:
      operationId: requestRuntimeToken
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/runtime-tokens/request \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_code": "A78WKV4515"}'
            # → data.token is a short-lived runtime JWT the SDK uses to run a session
      summary: Request a runtime token
      description: >-
        Exchange your API secret for a short-lived runtime token that authorizes one
        avatar session. The SDKs call this for you; call it directly when building a
        custom runtime. This is a billing endpoint — it meters credits for the session's
        model per the schedule in `GET /v1/pricing`.


        **`fingerprint` must be at least 32 characters** when you send it.
        A shorter one is rejected `400 VALIDATION_ERROR` — a common surprise
        when a custom runtime passes a short device id. It is optional: leave
        it out rather than send a short one.
      tags: [Authentication]
      security:
        - apiSecret: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_code:
                  type: string
                  description: Agent code the session runs (attribution + transcript).
                  example: "A78WKV4515"
                billing_type:
                  type: string
                  description: Selects the model and pricing schedule for the session.
                  example: "agent-voice-chat"
                room_name:
                  type: string
                  description: LiveKit room name to associate the session with its transcript.
                user_id:
                  type: string
                  description: Optional. Attribute billing to a specific end-user (owner override).
                fingerprint:
                  type: string
                  minLength: 32
                  description: >-
                    Optional runtime-instance fingerprint (analytics only).
                    When present it must be **at least 32 characters** —
                    a shorter value is rejected `400 VALIDATION_ERROR`
                    ("String should have at least 32 characters"), so omit the
                    field rather than send a short device id.
                  example: "9f3c8b1a2d4e5f6789ab0c1d2e3f40516273849a"
      responses:
        "200":
          description: A runtime token. `data.token` is a short-lived JWT for one session.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token: { type: string }
                      transaction_id: { type: string }
                  status: { type: string, example: success }
                  status_code: { type: integer, example: 200 }
              example:
                data:
                  transaction_id: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                status: success
                status_code: 200
        "400":
          description: >-
            `VALIDATION_ERROR` — a field failed validation. The most common
            cause is a `fingerprint` shorter than 32 characters; the message
            names the field and the rule.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "VALIDATION_ERROR"
                  message: "Validation failed: fingerprint: String should have at least 32 characters"
                  httpStatus: 400
                status: "error"
                status_code: 400
        "402":
          description: Insufficient credit balance.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "INSUFFICIENT_BALANCE"
                  message: "Not enough credits to start a session"
                  httpStatus: 402
                status: "error"
                status_code: 402
        "403":
          description: Key revoked, account suspended, or concurrency limit reached.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/realtime/ephemeral-token:
    post:
      operationId: requestRealtimeToken
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/realtime/ephemeral-token \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" -d '{}'
            # → data.value is an OpenAI client secret; hand it to the browser
      summary: Mint a realtime client secret
      description: >-
        Mint a short-lived OpenAI-Realtime client secret so a browser can open a realtime
        voice session without your API secret. Mint on the server and pass only `data.value`
        to the client. Balance-gated; rate-limited to 20/min. Realtime voice is metered at
        10 credits/min once the session runs.
      tags: [Voice]
      security:
        - apiSecret: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: OpenAI Realtime model. Defaults to the current bitHuman default.
                  example: "gpt-realtime-mini"
      responses:
        "200":
          description: A client secret. Mint one per session.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      value: { type: string }
                      expires_at: { type: integer }
                      model: { type: string }
                  status: { type: string, example: success }
                  status_code: { type: integer, example: 200 }
              example:
                data:
                  value: "ek_68f0c2..."
                  expires_at: 1751500000
                  model: "gpt-realtime-mini"
                status: success
                status_code: 200
        "402":
          description: Out of credits.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many realtime sessions; slow down.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/dynamics/generate:
    post:
      operationId: generateDynamics
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/dynamics/generate \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_id": "A91XMB7113"}'
            # → {"success": true, "status": "processing"} — poll GET /v1/dynamics/A91XMB7113
      summary: Generate gesture animations
      description: |
        Create gesture animations (wave, nod, smile, laugh, etc.) for an agent.
        These can be triggered during live sessions via keyword mapping.
      tags: [Dynamics]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id:
                  type: string
                  example: "A91XMB7113"
                image_url:
                  type: string
                  description: Source image URL. Optional — defaults to the agent's primary image if omitted.
                duration:
                  type: integer
                  default: 5
                  description: Gesture duration in seconds.
                model:
                  type: string
                  enum: [seedance, auto]
                  default: seedance
                  description: >-
                    Video motion model. `seedance` (Seedance 1.5 pro) is the only
                    dynamics model; `auto` resolves to it. Any legacy value (e.g.
                    the retired `kling`) is coerced to `seedance`.
      responses:
        "200":
          description: Dynamics generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Dynamics generation started"
                  agent_id:
                    type: string
                  status:
                    type: string
                    example: "processing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient credits. Dynamics generation costs 250 credits — INSUFFICIENT_BALANCE.
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/dynamics/{agent_id}:
    get:
      operationId: getDynamics
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/dynamics/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get available gestures
      description: List all available gesture animations for an agent.
      tags: [Dynamics]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Available gestures
          content:
            application/json:
              schema:
                type: object
[...]
