openapi: 3.1.0
info:
  title: bitHuman
  version: "1.0"
  contact:
    name: bitHuman Support
    url: https://discord.gg/ES953n7bPA
  x-logo:
    url: https://docs.bithuman.ai/bithuman-mark.png
  description: |
    Real-time, lip-synced AI avatars. Audio in, talking video out at
    25 FPS with sub-200 ms latency. Render on the cloud, on-device, or
    in the browser — one engine, one `.imx` file.

    <div class="bh-cards">
      <a href="#tag/quickstart" class="bh-card">
        <strong>Quickstart →</strong>
        <span>Your first talking avatar in 2 minutes</span>
      </a>
      <a href="#tag/Voice" class="bh-card">
        <strong>Voice API →</strong>
        <span>TTS in 31 languages, 10 voices, OpenAI-compatible</span>
      </a>
      <a href="#tag/sdk-python" class="bh-card">
        <strong>Python SDK →</strong>
        <span>pip install bithuman</span>
      </a>
      <a href="#tag/sdk-swift" class="bh-card">
        <strong>Swift SDK →</strong>
        <span>Mac / iPad / iPhone, on-device</span>
      </a>
    </div>

    All endpoints are relative to `https://api.bithuman.ai` and
    require an `api-secret` header.
    [Get a free API secret →](https://www.bithuman.ai/#developer)

servers:
  - url: https://api.bithuman.ai
    description: Production

security:
  - apiSecret: []

paths:
  /v1/validate:
    post:
      operationId: validateApiSecret
      summary: Validate API secret
      description: |
        Verify that your API secret is valid and your account is active.

        Always returns HTTP 200. Inspect the `valid` field in the body
        to determine outcome — invalid or missing credentials yield
        `{"valid": false}` rather than a 401.
      tags: [Authentication]
      responses:
        "200":
          description: Validation complete (check the `valid` field)
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: true

  /v1/agent/generate:
    post:
      operationId: generateAgent
      summary: Generate a new agent
      description: |
        Create a new avatar agent from a text prompt, with optional image,
        video, and audio assets. Generation takes 2-5 minutes. Poll
        `/v1/agent/status/{agent_id}` to check progress.
      tags: [Agent Generation]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: System prompt / personality for the agent. If omitted, a random default is used.
                  example: "You are a friendly fitness coach who motivates users."
                image:
                  type: string
                  description: URL to a face image for avatar appearance.
                  example: "https://example.com/face.jpg"
                video:
                  type: string
                  description: URL to a video for avatar appearance and mannerisms.
                  example: "https://example.com/clip.mp4"
                audio:
                  type: string
                  description: URL to audio for voice cloning.
                  example: "https://example.com/voice.wav"
                aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: Aspect ratio for image generation.
                video_aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: Aspect ratio for video generation.
                agent_id:
                  type: string
                  description: Custom agent identifier. Auto-generated if omitted.
                duration:
                  type: integer
                  default: 10
                  description: Source video duration in seconds.
      responses:
        "200":
          description: Generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Agent generation started"
                  agent_id:
                    type: string
                    example: "A91XMB7113"
                  status:
                    type: string
                    example: "processing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient credits. Generation costs 250 credits — top up to continue. Returns error code `INSUFFICIENT_BALANCE`.
        "400":
          $ref: "#/components/responses/ValidationError"

  /v1/agent/status/{agent_id}:
    get:
      operationId: getAgentStatus
      summary: Get agent generation status
      description: |
        Poll this endpoint to check generation progress. Status transitions:
        `processing` → `generating` → `completed` → `ready` (success) or `failed` (error).

        **Keep polling past `generating` and `completed`** — those are
        intermediate states, not terminal. Only `ready` and `failed`
        mean polling should stop.

        Recommended polling interval: 5 seconds.
      tags: [Agent Generation]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      agent_id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      status:
                        type: string
                        enum: [processing, ready, failed, generating, completed]
                      system_prompt:
                        type: string
                      image_url:
                        type: string
                      video_url:
                        type: string
                      model_url:
                        type: string
                        description: URL to download the .imx model file (when status is ready).
                      voice_id:
                        type: string
                      progress:
                        type: number
                        format: float
                        minimum: 0
                        maximum: 1
                        description: Generation progress as a fraction from 0.0 to 1.0.
                      progress_msg:
                        type: string
                        description: Human-readable progress description.
                      current_step:
                        type: string
                        description: Current generation step name.
                      event_type:
                        type: string
                        description: Most recent event (e.g. "lip_created").
                      error_message:
                        type: string
                        description: Error details if status is "failed".
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}:
    get:
      operationId: getAgent
      summary: Get agent details
      description: Retrieve full details for an agent by its code.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: updateAgent
      summary: Update agent prompt
      description: Update an existing agent's system prompt. The agent must already exist (use `POST /v1/agent/generate` to create one).
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                system_prompt:
                  type: string
                  description: New system prompt for the agent.
                  example: "You are a professional sales assistant."
      responses:
        "200":
          description: Agent prompt updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  updated:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAgent
      summary: Delete an agent
      description: |
        Permanently delete an agent you own. Stored assets are cleaned up
        best-effort; usage history is retained. Deleting a missing or
        non-owned agent returns 404.
      tags: [Agent Management]
      security:
        - apiSecret: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  deleted:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/speak:
    post:
      operationId: agentSpeak
      summary: Make agent speak
      description: |
        Send text for the avatar to speak aloud in all active sessions.
        The agent must be in at least one active LiveKit room.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: Text for the avatar to speak.
                  example: "Hello! Welcome to our demo."
                room_id:
                  type: string
                  description: Target a specific room (optional, defaults to all active rooms).
      responses:
        "200":
          description: Speech triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  context_type:
                    type: string
                    example: "speak"
                  delivered_to_rooms:
                    type: integer
                    example: 1
                    description: Number of active rooms that received the message.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/add-context:
    post:
      operationId: addContext
      summary: Add context to agent
      description: |
        Inject background knowledge into the agent's context. The avatar
        won't say this aloud, but will use the information in future responses.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context]
              properties:
                context:
                  type: string
                  description: Knowledge to inject.
                  example: "The customer just purchased a premium plan."
                type:
                  type: string
                  enum: [add_context, speak]
                  default: add_context
                  description: "`add_context` for silent knowledge (default), `speak` to trigger verbal response."
                room_id:
                  type: string
                  description: Target a specific room (optional).
      responses:
        "200":
          description: Context added
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                  context_type:
                    type: string
                  delivered_to_rooms:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/files/upload:
    post:
      operationId: uploadFile
      summary: Upload a file
      description: |
        Upload images, videos, audio, or documents. Files are auto-organized
        by type. Supports URL download or direct base64 upload.
      tags: [Files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Upload by URL
                  required: [file_url]
                  properties:
                    file_url:
                      type: string
                      description: Public URL to download the file from.
                      example: "https://example.com/avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
                      description: File type (auto-detected if omitted).
                - type: object
                  title: Upload by base64
                  required: [file_data, file_name]
                  properties:
                    file_data:
                      type: string
                      description: Base64-encoded file data.
                    file_name:
                      type: string
                      description: Original filename with extension.
                      example: "avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
      responses:
        "200":
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "File uploaded successfully"
                  data:
                    type: object
                    properties:
                      file_url:
                        type: string
                        description: Public CDN URL of the uploaded file.
                      original_source:
                        type: string
                        description: Original URL or filename.
                      file_type:
                        type: string
                        description: Detected file type category.
                      file_size:
                        type: integer
                        description: File size in bytes.
                      mime_type:
                        type: string
                        description: MIME content type.
                      asset_category:
                        type: string
                        description: Storage category (images, videos, audio, docs).
                      uploaded_at:
                        type: string
                        format: date-time
        "413":
          description: File too large (max 10 MB for images, 100 MB for video)
        "415":
          description: Unsupported file type

  /v2/credit-summaries:
    get:
      operationId: getCreditSummaries
      summary: Check credit balance
      description: Returns current credit balance, plan details, and estimated minutes remaining for each usage type.
      tags: [Billing]
      security:
        - apiSecret: []
      parameters:
        - name: user_id
          in: query
          required: false
          description: User UUID to look up. Omit to get the balance for the account that owns the API secret.
          schema:
            type: string
        - name: app
          in: query
          required: false
          description: App identifier for multi-app subscription support.
          schema:
            type: string
            default: imaginex
        - name: app_key
          in: query
          required: false
          description: Explicit subscription key for collection-scoped apps. Defaults to the same value as `app`.
          schema:
            type: string
      responses:
        "200":
          description: Credit balance retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: The resolved account UUID.
                      balance:
                        type: number
                      plan_credits:
                        type: number
                      topup_credits:
                        type: number
                      minutes_estimate:
                        type: object
                      is_enterprise:
                        type: boolean
                      isEnterprisePlanUser:
                        type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/embed-tokens/request:
    post:
      operationId: requestEmbedToken
      summary: Generate embed token
      description: Generate a JWT token for embedding an avatar on a website. Use this from your backend — never expose your API secret in frontend code.
      tags: [Embedding]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - fingerprint
              properties:
                agent_id:
                  type: string
                  description: Agent code (e.g. A78WKV4515)
                  example: "A78WKV4515"
                fingerprint:
                  type: string
                  description: Stable per-device hex string used for session tracking and per-visitor rate limiting. Required.
                  example: "9f3c8b1a2d4e5f6789ab"
      responses:
        "200":
          description: Token generated. The returned `token` is a JWT (HS256-signed) with a 1-hour TTL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  status_code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 1-hour JWT to pass as the `data-token` attribute on the embed widget script tag.
                      sid:
                        type: string
                        description: Session identifier for tracking this embed instance.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/dynamics/generate:
    post:
      operationId: generateDynamics
      summary: Generate gesture animations
      description: |
        Create gesture animations (wave, nod, smile, laugh, etc.) for an agent.
        These can be triggered during live sessions via keyword mapping.
      tags: [Dynamics]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id:
                  type: string
                  example: "A91XMB7113"
                image_url:
                  type: string
                  description: Source image URL. Optional — defaults to the agent's primary image if omitted.
                duration:
                  type: integer
                  default: 5
                  description: Gesture duration in seconds.
                model:
                  type: string
                  enum: [seedance, quality, speed, auto]
                  default: seedance
                  description: Generation model variant.
      responses:
        "200":
          description: Dynamics generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Dynamics generation started"
                  agent_id:
                    type: string
                  status:
                    type: string
                    example: "processing"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/dynamics/{agent_id}:
    get:
      operationId: getDynamics
      summary: Get available gestures
      description: List all available gesture animations for an agent.
      tags: [Dynamics]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Available gestures
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      agent_id:
                        type: string
                      url:
                        type: string
                        description: Model path or null.
                      status:
                        type: string
                        enum: [ready, generating, processing, failed]
                      gestures:
                        type: object
                        description: Map of gesture name to video URL.
                        additionalProperties:
                          type: string
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: updateDynamics
      summary: Update dynamics configuration
      description: |
        Update gesture settings for an agent. After a successful update,
        movements regeneration is automatically triggered in the background.
      tags: [Dynamics]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dynamics]
              properties:
                dynamics:
                  type: object
                  description: |
                    Dynamics configuration to merge with existing data.
                    Fields: `enabled` (boolean), `batch_results` (gesture results),
                    `result` (model path/hash when generated), `talking` (default model path/hash).
                  properties:
                    enabled:
                      type: boolean
                      description: Enable or disable dynamics for this agent.
                    batch_results:
                      type: object
                      description: Map of gesture names to video generation results.
                    result:
                      type: object
                      description: Result model path and hash (set when dynamics generation completes).
                    talking:
                      type: object
                      description: Default talking model path and hash (used when dynamics are disabled).
                toggle_enabled:
                  type: boolean
                  description: |
                    `true` to switch agent to dynamics model, `false` to restore default talking model.
      responses:
        "200":
          description: Dynamics updated and movements regeneration triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Dynamics updated successfully and movements regeneration started"
                  agent_id:
                    type: string
                  regeneration_status:
                    type: string
                    enum: [started, failed]
                    description: Whether background movements regeneration was triggered.
                  regeneration_error:
                    type: string
                    description: Error message if regeneration_status is "failed".

  /v1/tts:
    post:
      operationId: synthesizeSpeech
      summary: Synthesize speech from text
      description: |
        Generates audio (WAV or PCM) from a text prompt. Pick a built-in voice
        (`M1`-`F5`), tune it inline with `axes`, or pass a `voice_code` from the
        [Voice Designer](https://www.bithuman.ai/voice). Supports 31 languages,
        per-request quality / speed tuning, and optional sentence-by-sentence
        streaming.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Text to synthesize (any length; multi-sentence supported).
                  example: "Hello from bitHuman."
                voice:
                  type: string
                  description: Voice ID. Built-in voices are `M1`-`M5` (male) and `F1`-`F5` (female). List them with `GET /v1/voices`.
                  default: "M1"
                  example: "F1"
                voice_code:
                  type: string
                  description: |
                    A designed-voice handle from the [Voice Designer](https://www.bithuman.ai/voice).
                    Expands server-side to a base voice + tuning, so you don't send `voice` / `axes`
                    yourself. A UUID references a saved voice; a `bv1_…` code self-encodes the config.
                    Takes precedence over `voice` when present.
                  example: "f8fb5feb-8a19-435c-89e5-a286a03565ec"
                axes:
                  type: object
                  description: |
                    Inline voice tuning — the same semantic axes as `GET /v1/studio/axes`
                    (`gender`, `pitch`, `rate`, `brightness`). Offsets are small (roughly −0.3…0.3);
                    `0` is neutral. Ignored when `voice_code` is supplied.
                  additionalProperties:
                    type: number
                  example:
                    gender: 0.1
                    pitch: 0.05
                    rate: -0.1
                    brightness: 0.2
                language:
                  type: string
                  description: ISO-2 language code. 31 languages supported.
                  default: "en"
                  example: "en"
                total_steps:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 8
                  description: Denoise step count. `5`=fast/lower quality, `8`=balanced, `12`=highest.
                speed:
                  type: number
                  minimum: 0.7
                  maximum: 2.0
                  default: 1.05
                  description: Playback rate.
                format:
                  type: string
                  enum: [wav, pcm_s16le]
                  default: wav
                  description: Response audio format.
                stream:
                  type: boolean
                  default: false
                  description: If true, returns sentence-chunked length-prefixed PCM frames.
      responses:
        "200":
          description: Audio bytes (WAV or PCM, per request `format`).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
            audio/pcm:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          description: Queue full / service overloaded. Retry with backoff.

  /v1/voices:
    get:
      operationId: listVoices
      summary: List available voices
      description: Returns the catalog of built-in and custom voices.
      tags: [Voice]
      responses:
        "200":
          description: Voice catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "F1"
                        kind:
                          type: string
                          enum: [builtin, custom]
                          example: "builtin"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/audio/speech:
    post:
      operationId: openaiCompatSpeech
      summary: OpenAI-compatible speech endpoint
      description: |
        Drop-in compatible with OpenAI's `POST /v1/audio/speech`. Useful for
        migrating existing OpenAI clients to bitHuman without code changes —
        swap the base URL to `https://api.bithuman.ai/v1` and the auth
        header to `api-secret`.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                model:
                  type: string
                  description: Ignored — bitHuman uses its own TTS model. Pass `"tts-1"` for compatibility.
                  example: "tts-1"
                input:
                  type: string
                  description: Text to synthesize.
                  example: "Hello from bitHuman."
                voice:
                  type: string
                  description: bitHuman voice ID (`M1`-`F5`).
                  default: "M1"
                response_format:
                  type: string
                  enum: [wav]
                  default: wav
                speed:
                  type: number
                  minimum: 0.7
                  maximum: 2.0
                  default: 1.05
      responses:
        "200":
          description: Audio bytes (WAV by default).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/studio/axes:
    get:
      operationId: listVoiceAxes
      summary: List voice-tuning semantic axes
      description: |
        Returns the available semantic axes (gender, pitch, rate, brightness)
        plus how each built-in voice projects onto them and the suggested
        slider range. Powers the Tune popover in the Voice Playground.
      tags: [Voice]
      responses:
        "200":
          description: Axis catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  axes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "pitch"
                        description:
                          type: string
                          example: "Pitch: − lower, + higher"
                        suggested_min:
                          type: number
                          example: -0.28
                        suggested_max:
                          type: number
                          example: 0.28
                        anchor_projections:
                          type: object
                          additionalProperties:
                            type: number
                          description: Per-voice-ID projection onto this axis.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/studio/preview:
    post:
      operationId: previewTunedVoice
      summary: Preview an axis-edited voice
      description: |
        Synthesize a one-off audio clip using a built-in voice edited along
        the semantic axes returned by `GET /v1/studio/axes`. The edited voice
        is ephemeral — it is NOT persisted in the voice catalog.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, base_voice, axes]
              properties:
                text:
                  type: string
                  example: "Tuned voice preview."
                base_voice:
                  type: string
                  description: Built-in voice ID (`M1`-`F5`) to edit.
                  example: "F1"
                axes:
                  type: object
                  description: Map of axis-name → float value.
                  additionalProperties:
                    type: number
                  example:
                    pitch: 0.15
                    brightness: -0.10
                language:
                  type: string
                  default: "en"
      responses:
        "200":
          description: Audio bytes (WAV).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/agents:
    get:
      operationId: listAgents
      summary: List agents
      description: |
        List the agents owned by your API secret, newest first. Paginated.
      tags: [Agent Management]
      security:
        - apiSecret: []
      parameters:
        - name: limit
          in: query
          description: Page size (1–100).
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - name: offset
          in: query
          description: Number of agents to skip.
          schema: { type: integer, default: 0, minimum: 0 }
        - name: status
          in: query
          description: Filter by generation state (e.g. `ready`, `processing`, `failed`).
          schema: { type: string }
      responses:
        "200":
          description: A page of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Agent" }
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/usage:
    get:
      operationId: getUsage
      summary: Usage history
      description: |
        Return your account's usage / activity history, newest first. Each row
        is a metered event. `credits_change` is the signed credit delta — usage
        events are recorded as **positive** credits consumed.
      tags: [Billing]
      security:
        - apiSecret: []
      parameters:
        - name: limit
          in: query
          description: Page size (1–200).
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: start
          in: query
          description: ISO-8601 timestamp; only return events at/after this time.
          schema: { type: string, format: date-time }
        - name: end
          in: query
          description: ISO-8601 timestamp; only return events at/before this time.
          schema: { type: string, format: date-time }
        - name: agent_code
          in: query
          description: Only return events for this agent.
          schema: { type: string }
      responses:
        "200":
          description: A page of usage events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/UsageEvent" }
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/webhooks:
    post:
      operationId: createWebhook
      summary: Create a webhook
      description: |
        Register an HTTPS endpoint to receive signed event notifications. The
        response includes a one-time `secret` used to verify the
        `X-BitHuman-Signature` header — store it; it is never returned again.
      tags: [Webhooks]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: HTTPS endpoint to deliver events to.
                  example: "https://example.com/bithuman/webhook"
                events:
                  type: array
                  description: Event types to subscribe to. Omit or pass `[]` to receive all.
                  items:
                    type: string
                    enum: [agent.ready, agent.failed]
                  example: ["agent.ready", "agent.failed"]
                description:
                  type: string
                  description: Optional human-readable label.
      responses:
        "200":
          description: Webhook created (includes the one-time signing secret)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    $ref: "#/components/schemas/WebhookWithSecret"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      operationId: listWebhooks
      summary: List webhooks
      description: List your registered webhooks (signing secrets are redacted).
      tags: [Webhooks]
      security:
        - apiSecret: []
      responses:
        "200":
          description: Your webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Webhook" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/webhooks/{webhook_id}:
    get:
      operationId: getWebhook
      summary: Get a webhook
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The webhook (secret redacted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: "#/components/schemas/Webhook" }
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  deleted: { type: boolean, example: true }
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/webhooks/{webhook_id}/test:
    post:
      operationId: testWebhook
      summary: Send a test event
      description: Deliver a one-off `ping` event to verify the endpoint is reachable.
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Delivery attempted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      delivered: { type: boolean, example: true }
                      status_code: { type: integer, example: 200 }
                      attempts: { type: integer, example: 1 }
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/webhooks/{webhook_id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: List delivery attempts
      description: Recent delivery attempts for a webhook (most recent first).
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Delivery log
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookDelivery" }
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    apiSecret:
      type: apiKey
      name: api-secret
      in: header
      description: |
        Your bitHuman API secret. Get one at
        [www.bithuman.ai/#developer](https://www.bithuman.ai/#developer).

  schemas:
    Agent:
      type: object
      properties:
        code:
          type: string
          description: The agent's short code — the primary identifier used across the platform and the embed/viewer URLs.
          example: "A91XMB7113"
        agent_id:
          type: string
          example: "A91XMB7113"
        name:
          type: string
          example: "Fitness Coach"
        description:
          type: string
        language:
          type: string
        gender:
          type: string
        model:
          type: string
        subject:
          type: string
        system_prompt:
          type: string
          example: "You are a friendly fitness coach."
        image_url:
          type: string
          description: Avatar face image URL.
        video_url:
          type: string
          description: Avatar source video URL.
        model_url:
          type: string
          description: Downloadable .imx model URL.
        voice_id:
          type: string
          description: Voice identifier.
        status:
          type: string
          description: Current agent state.
        event_type:
          type: string
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Generation progress as a fraction from 0.0 to 1.0.
        progress_msg:
          type: string
        current_step:
          type: string
        error_message:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        dynamics:
          type: object
          description: Gesture configuration and available gestures.

    Pagination:
      type: object
      properties:
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
        total:
          type: integer
          description: Total matching rows across all pages.
          example: 137
        has_more:
          type: boolean
          example: true

    UsageEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        activity_type:
          type: string
          example: "bithuman-serve"
        pricing_code:
          type: string
          example: "usage_essence_model_self_hosted"
        app:
          type: string
          example: "imaginex"
        agent_code:
          type: string
          nullable: true
        credits_change:
          type: number
          description: Signed credit delta; usage events are positive credits consumed.
          example: 1
        frames_rendered:
          type: integer
          nullable: true
        room_name:
          type: string
          nullable: true
        start_time:
          type: string
          format: date-time
          nullable: true
        end_time:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          example: "https://example.com/bithuman/webhook"
        events:
          type: array
          items:
            type: string
          description: Subscribed event types; empty means all.
          example: ["agent.ready", "agent.failed"]
        description:
          type: string
          nullable: true
        active:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookWithSecret:
      allOf:
        - $ref: "#/components/schemas/Webhook"
        - type: object
          properties:
            secret:
              type: string
              description: |
                HMAC-SHA256 signing secret, returned **only once** at creation.
                Verify deliveries with
                `sha256 = HMAC(secret, "{X-BitHuman-Timestamp}.{raw_body}")`
                and compare against the `X-BitHuman-Signature` header.
              example: "whsec_60fe3d…"

    WebhookDelivery:
      type: object
      properties:
        id:
          type: string
          format: uuid
        event_type:
          type: string
          example: "agent.ready"
        status_code:
          type: integer
          nullable: true
          description: HTTP status returned by your endpoint; null on network error/timeout.
          example: 200
        attempts:
          type: integer
          example: 1
        delivered:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "UNAUTHORIZED"
            message:
              type: string
              example: "Invalid API secret"
            httpStatus:
              type: integer
              example: 401
        status:
          type: string
          example: "error"
        status_code:
          type: integer
          example: 401

  responses:
    BadRequest:
      description: Missing required parameter or malformed request. The HTTP status equals `status_code` (400).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "MISSING_PARAM"
              message: "Missing required field: text"
              httpStatus: 400
            status: "error"
            status_code: 400

    Unauthorized:
      description: |
        Authentication failed. `UNAUTHORIZED` when the `api-secret` header is
        present but invalid; `MISSING_AUTH` when it is absent. The HTTP status
        equals `status_code` (401).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Invalid API secret"
              httpStatus: 401
            status: "error"
            status_code: 401

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "NOT_FOUND"
              message: "Agent not found"
              httpStatus: 404
            status: "error"
            status_code: 404

    ValidationError:
      description: Body failed schema validation. The HTTP status equals `status_code` (400).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: "VALIDATION_ERROR"
              message: "Invalid request parameters"
              httpStatus: 400
            status: "error"
            status_code: 400

x-tagGroups:
  - name: Get started
    tags:
      - overview
      - quickstart
      - auth-guide
      - models
      - pricing
  - name: Core concepts
    tags:
      - avatars-imx
      - audio-streaming
      - agent-lifecycle
  - name: SDKs
    tags:
      - sdk-python
      - sdk-swift
      - sdk-kotlin
      - sdk-flutter
      - cli
  - name: Guides
    tags:
      - local-mode
      - building-avatars
  - name: Deployment
    tags:
      - deploy-livekit
      - deploy-self-hosted
      - deploy-embed
  - name: API reference
    tags:
      - Authentication
      - Voice
      - Agent Generation
      - Agent Management
      - Agent Context
      - Files
      - Dynamics
      - Embedding
      - Billing
      - Webhooks
  - name: Resources
    tags:
      - community
      - changelog
      - support

tags:
  ##########################################################################
  # Prose-only sections (no operations). Scalar renders these as standalone
  # pages in the sidebar via x-tagGroups.
  ##########################################################################
  - name: overview
    x-displayName: Overview
    description: |
      ## What bitHuman is

      bitHuman puts a real-time, lip-synced talking avatar in your
      app. Send audio in, get animated video out at 25 FPS with
      sub-200 ms latency. The rendering runs **on the device** — no
      cloud round-trip, no PII leaving the box, no network dependency
      for the avatar itself.

      ### Three places it can render

      | Where | When to use it |
      |---|---|
      | **Cloud** *(default)* | Managed avatar runtime, video published over LiveKit. ~5 min setup with the [LiveKit plugin](#tag/deploy-livekit). |
      | **On-device** | Your machine via the [bithuman CLI](#tag/cli) or any [SDK](#tag/sdk-python). Optional [fully on-device brain](#tag/local-mode). |
      | **Browser** | ONNX Runtime Web (WASM) renders in the user's tab; the server runs only the brain. |

      ### One engine, every surface

      A single Rust engine (`libessence`) drives the bitHuman CLI, the
      Python / Swift / Kotlin / Flutter SDKs, and the cloud REST API.
      They all read the same `.imx` file and produce identical
      frames — pick the surface that matches what you're building;
      the mental model never changes.

      ### Two avatar models

      - **[Essence](#tag/models)** — a pre-built avatar identity baked
        into an `.imx`. Low memory, runs on every supported platform.
        **The default.**
      - **[Expression](#tag/models)** — animates *any* portrait at
        runtime. Higher close-up quality; needs more compute.

      Both speak the same `.imx` format and the same SDK methods —
      swap them without rewriting your integration.

      ### What you can build

      - **Voice-only chat** — TTS in 31 languages via [`/v1/tts`](#tag/Voice/operation/synthesizespeech)
        or the [OpenAI-compatible drop-in](#tag/Voice/operation/openaicompatspeech).
      - **Animated avatars** — make a hosted agent talk via
        [`/v1/agent/{code}/speak`](#tag/Agent-Context/operation/agentSpeak).
      - **Generate new avatars** — turn a prompt + portrait + voice
        sample into a new agent via [`/v1/agent/generate`](#tag/Agent-Generation/operation/generateAgent).
      - **Embed in any app** — REST from any language, native SDKs,
        drop-in LiveKit plugin, Docker image for self-hosted GPU,
        browser iframe.

      <div class="bh-cards">
        <a href="#tag/quickstart" class="bh-card">
          <strong>Start in 2 minutes →</strong>
          <span>Install the CLI, run your first avatar</span>
        </a>
        <a href="#tag/models" class="bh-card">
          <strong>Pick a model →</strong>
          <span>Essence vs Expression</span>
        </a>
        <a href="#tag/Voice" class="bh-card">
          <strong>Try the Voice API →</strong>
          <span>One curl, 31 languages</span>
        </a>
        <a href="https://www.bithuman.ai/voice" class="bh-card">
          <strong>Voice playground →</strong>
          <span>Hear all 10 voices live</span>
        </a>
      </div>

  - name: quickstart
    x-displayName: Quickstart
    description: |
      ## Your first talking avatar in 2 minutes

      The fastest path is the CLI — no code, no toolchain. Once it
      works, the [SDKs](#tag/sdk-python) do the same thing in your
      language.

      ### 1. Get an API secret

      Sign in at [bithuman.ai](https://www.bithuman.ai) (free tier, no
      credit card), then go to
      [Developer → API Keys](https://www.bithuman.ai/#developer) and
      click **Create new key**. Copy the value — **you won't be able
      to view it again** — and store it somewhere durable.

      ### 2. Install the CLI

      Three install paths, same Rust binary:

      ```bash
      # macOS Homebrew — recommended
      brew install bithuman-product/bithuman/bithuman-cli

      # Universal installer — macOS + Linux, no Python required
      curl -fsSL https://raw.githubusercontent.com/bithuman-product/homebrew-bithuman/main/install.sh | sh

      # PyPI sibling wheel — Python-only environments
      pip install 'bithuman-cli==2.3.0'
      ```

      Verify the install:

      ```bash
      export BITHUMAN_API_SECRET=your_api_secret
      bithuman --version
      bithuman doctor              # check creds, brain, caches
      ```

      ### 3. Make it talk

      ```bash
      export OPENAI_API_KEY=sk-...                              # cloud brain
      bithuman pull modern-court-jester                          # any slug from `bithuman list`
      bithuman run ~/.cache/bithuman/showcase/modern-court-jester.imx
      # → open the printed http://127.0.0.1:8088/<CODE> URL, grant mic, talk
      ```

      Skip the cloud entirely with the **on-device brain** — no API
      key, no outbound network, ~1.5 GB RAM:

      ```bash
      pip install 'bithuman-cli[local]'
      BITHUMAN_LOCAL=1 bithuman run ~/.cache/bithuman/showcase/modern-court-jester.imx
      ```

      First run downloads ~860 MB of brain models from HuggingFace
      (~90 s once). Subsequent runs warm-load in under a second.
      [Local mode →](#tag/local-mode).

      Or render an MP4 offline — no browser, no brain — just lipsync
      a WAV you already have:

      ```bash
      bithuman render ~/.cache/bithuman/showcase/modern-court-jester.imx \
        --audio speech.wav --output demo.mp4
      ```

      ### 4. Now in your language

      Same engine, same `.imx`, same `push audio → drain frames`
      shape. Minimal Python:

      ```python
      import asyncio, os
      import numpy as np
      import soundfile as sf
      from bithuman import AsyncBithuman

      # bithuman 2.3 is library-only; inline the former bithuman.audio
      # helpers (the SDK resamples to 16 kHz internally).
      def load_audio(path):
          audio, sr = sf.read(path, dtype="float32", always_2d=False)
          if audio.ndim > 1:
              audio = audio.mean(axis=1)
          return audio, sr

      def float32_to_int16(arr):
          return (np.clip(arr, -1.0, 1.0) * 32767.0).astype(np.int16)

      async def main():
          rt = await AsyncBithuman.create(
              model_path="avatar.imx",
              api_secret=os.environ["BITHUMAN_API_SECRET"],
          )

          pcm, sr = load_audio("speech.wav")
          pcm = float32_to_int16(pcm)
          chunk = sr // 100                       # 10 ms chunks
          for i in range(0, len(pcm), chunk):
              await rt.push_audio(pcm[i:i+chunk].tobytes(), sr, last_chunk=False)
          await rt.flush()

          async for frame in rt.run():
              if frame.has_image:
                  image = frame.bgr_image         # numpy (H, W, 3) uint8
              if frame.end_of_speech:
                  break
          await rt.stop()

      asyncio.run(main())
      ```

      | Concept | What it is |
      |---|---|
      | `AsyncBithuman` | The runtime. One per avatar session. |
      | `push_audio(bytes, sr, last_chunk)` | Feed 16-bit PCM; avatar lip-syncs live. |
      | `flush()` | Mark end of audio input. |
      | `run()` | Async generator yielding frames at 25 FPS. |
      | `frame` | `.bgr_image`, `.audio_chunk`, `.has_image`, `.end_of_speech`. |

      ### Next

      - [Models](#tag/models) — Essence vs Expression
      - [Authentication](#tag/auth-guide) — set keys for every SDK
      - [Python SDK](#tag/sdk-python) · [Swift SDK](#tag/sdk-swift) · [Kotlin SDK](#tag/sdk-kotlin)
      - [Browse the API endpoints →](#tag/Voice)

  - name: auth-guide
    x-displayName: Authentication
    description: |
      ## Authentication

      bitHuman uses a single shared credential per account that
      authenticates every SDK and the REST API. Two equivalent env-var
      names depending on which SDK you're using:

      - **`BITHUMAN_API_SECRET`** — Python SDK, REST API, LiveKit
        plugin, Kotlin SDK, CLI.
      - **`BITHUMAN_API_KEY`** — Swift SDK on Apple platforms. Same
        value, different env-var name to match Apple convention.

      ### Get a key

      1. Sign in at [bithuman.ai](https://www.bithuman.ai).
      2. Go to [Developer → API Keys](https://www.bithuman.ai/#developer).
      3. Click **Create new key**, name it, and copy the value.

      Verify it works:

      ```bash
      curl -X POST https://api.bithuman.ai/v1/validate \
        -H "api-secret: YOUR_KEY"
      ```

      A 200 with `{"valid": true, ...}` means you're good.

      ### Set it for your SDK

      **Python SDK** — env var, or pass directly:

      ```python
      runtime = await AsyncBithuman.create(
          model_path="avatar.imx",
          api_secret="your_key",
      )
      ```

      **REST API** — `api-secret` header on every request:

      ```bash
      curl -X POST https://api.bithuman.ai/v1/agent/A78WKV4515/speak \
        -H "api-secret: $BITHUMAN_API_SECRET" \
        -H "content-type: application/json" \
        -d '{"message": "Hello"}'
      ```

      **Swift SDK** — env var or explicit:

      ```swift
      config.apiKey = ProcessInfo.processInfo.environment["BITHUMAN_API_KEY"]
      // or
      config.apiKey = await fetchFromBackend()    // production: Keychain
      ```

      **Never hardcode the key in source.** For DMG distribution, bake
      it into Info.plist via a build script. For App Store, fetch from
      your own backend via Keychain on first launch.

      ### Audio-only Swift mode is unmetered

      If you only want on-device voice chat (no lip-synced avatar),
      **skip the API key entirely**:

      ```swift
      var config = VoiceChatConfig()
      config.systemPrompt = "You are a helpful assistant."
      config.voice = .preset("Aiden")
      // no config.avatar = ...

      let chat = VoiceChat(config: config)
      try await chat.start()  // does not authenticate
      ```

      This mode runs fully offline (after first-launch weight
      downloads), bills nothing, and doesn't require a key.

      ### How the flow works

      1. Your code provides the API secret to the SDK / REST request.
      2. The SDK exchanges it for a short-lived **runtime token** at
         `https://api.bithuman.ai/v1/runtime-tokens/request`.
      3. That token authenticates the actual avatar engine (heartbeat
         + frame production).
      4. Tokens auto-renew every minute via the heartbeat.
      5. Bad keys fail at step 2 — fast — before any user-visible work.

      The `BITHUMAN_API_SECRET` never leaves your machine for any
      destination other than `api.bithuman.ai` over TLS.

      ### Rotating keys

      Rotate from the [Developer dashboard](https://www.bithuman.ai/#developer).
      Rotation invalidates the old key immediately; live sessions
      pause within ~60 s and resume on restart with the new key.
      There's no overlap window — rotate during a maintenance window
      if you have production sessions running.

  - name: models
    x-displayName: Models
    description: |
      ## Essence vs Expression

      Two avatar models, same SDK methods, same `.imx` format — swap
      them without rewriting your integration.

      | Model | What it is | Best for |
      |---|---|---|
      | **Essence** | A pre-built avatar identity in an `.imx`. Low memory, runs on every supported platform. **The default.** | Kiosks, mobile, edge, high-concurrency servers |
      | **Expression** | Animates *any* portrait at runtime. Higher close-up quality; needs more compute. | Native desktop apps, per-session custom faces, GPU cloud |

      Both speak the same `push audio → drain frames` shape across
      Python, Swift, Kotlin, and Flutter.

      ### Essence

      The default model. One `.imx` file = one avatar identity.
      Pre-built at upload time, served by the lightweight
      `libessence` runtime — runs on CPU (Raspberry Pi to server),
      NVIDIA GPU, Apple Silicon (Mac/iPad/iPhone), and in the browser
      via WASM.

      Pick Essence when you want:

      - Predictable resource use (low memory, no GPU required)
      - Many concurrent sessions on the same machine
      - Mobile / embedded / edge deployments
      - Browser-side rendering

      ### Expression

      Real-time animation of *any* portrait. Higher close-up quality,
      especially for nuanced facial expressions, but requires a GPU
      and more memory. Ships as a Docker image for self-hosted
      deployment, and is built into the Swift SDK on Apple Silicon
      M3+ (Mac) and M4+ (iPad Pro) — auto-spawned
      `bithuman-expression-daemon`.

      Pick Expression when you want:

      - Per-session custom faces (one user's portrait → their avatar)
      - The highest visual quality at close range
      - Cloud GPU deployments (NVIDIA + TRT) or M3+ Mac / M4+ iPad apps

  - name: pricing
    x-displayName: Pricing
    description: |
      ## Pricing & credits

      Free tier — **99 credits/month, no credit card**. Enough to
      try every endpoint and run a small avatar session.

      Paid plans start at **$20/month (Creator)**. Credits roll over
      within a billing period.
      [**See current pricing →**](https://www.bithuman.ai/pricing)

      ### What costs credits

      | Action | Cost |
      |---|---|
      | Agent generation (one-time, per avatar) | **250 credits** |
      | Live avatar session — Essence (self-hosted) | **1 credit / minute** |
      | Live avatar session — Essence (cloud) | **2 credits / minute** |
      | Live avatar session — Expression (self-hosted) | **2 credits / minute** |
      | Live avatar session — Expression (cloud) | **4 credits / minute** |
      | TTS / voice synthesis | See [pricing page](https://www.bithuman.ai/pricing) for current rate |
      | File upload + dynamics generation | varies; see endpoint docs |

      ### What's free

      - On-device Swift voice chat **without** avatar — fully offline,
        unmetered.
      - Local mode brain (`BITHUMAN_LOCAL=1`) for everything except
        the API secret exchange itself.
      - Dashboard, Discord, docs.

      Check your current balance with
      [`GET /v2/credit-summaries`](#tag/Billing/operation/getCreditSummaries).

  ##########################################################################
  # Core concepts — the mental model
  ##########################################################################
  - name: avatars-imx
    x-displayName: Avatars & .imx files
    description: |
      ## Avatars and the `.imx` format

      Every bitHuman avatar is packaged as a single `.imx` file — a
      self-contained bundle of identity weights, textures, and metadata
      that the `libessence` engine reads to animate one specific face.

      ### Where `.imx` files come from

      | Source | How |
      |---|---|
      | **Showcase** | `bithuman pull <slug>` — pre-built avatars at [bithuman.ai → Explore](https://www.bithuman.ai/#explore). |
      | **Dashboard** | Upload a portrait + voice samples at [bithuman.ai → Studio](https://www.bithuman.ai). |
      | **API** | [`POST /v1/agent/generate`](#tag/Agent-Generation/operation/generateAgent) returns an `agent_code` whose `.imx` you can download. |

      ### Where the file lives

      The `.imx` is keyed by **agent code** (e.g. `A78WKV4515`). Once
      generated, every SDK and the cloud runtime can resolve it by
      code — no need to ship the file with your app.

      ```bash
      # Cache locally for offline use
      bithuman pull modern-court-jester
      # → ~/.cache/bithuman/showcase/modern-court-jester.imx
      ```

      ### What's inside

      You don't have to understand it, but for the curious:

      - **Identity weights** — a small neural net specific to the face
      - **Reference frames** — texture atlases for the head
      - **Voice profile** — embedding for the cloned voice (Essence)
      - **Manifest** — model version, ABI, license, training metadata

      Inspect it with `bithuman info avatar.imx`.

      ### File format stability

      The `.imx` format is **forward-compatible within a major
      version**. The first time you open an older `.imx` with a newer
      runtime, the runtime warms it up and silently upgrades the file.
      Keep the runtime warm in production to avoid that cost
      per-session.

  - name: audio-streaming
    x-displayName: Audio streaming
    description: |
      ## The push/drain pattern

      Every SDK and the runtime use the same shape:

      1. **Push** 16-bit PCM audio chunks as they arrive (mic, TTS,
         WebRTC).
      2. **Drain** lip-synced video frames at 25 FPS.

      Audio in, video out — that's the entire surface area.

      ### Python — the minimal loop

      ```python
      import asyncio, os
      import numpy as np
      import soundfile as sf
      from bithuman import AsyncBithuman

      # bithuman 2.3 is library-only; inline the former bithuman.audio
      # helpers (the SDK resamples to 16 kHz internally).
      def load_audio(path):
          audio, sr = sf.read(path, dtype="float32", always_2d=False)
          if audio.ndim > 1:
              audio = audio.mean(axis=1)
          return audio, sr

      def float32_to_int16(arr):
          return (np.clip(arr, -1.0, 1.0) * 32767.0).astype(np.int16)

      async def main():
          rt = await AsyncBithuman.create(
              model_path="avatar.imx",
              api_secret=os.environ["BITHUMAN_API_SECRET"],
          )

          pcm, sr = load_audio("speech.wav")
          pcm = float32_to_int16(pcm)
          chunk = sr // 100                       # 10 ms chunks
          for i in range(0, len(pcm), chunk):
              await rt.push_audio(pcm[i:i+chunk].tobytes(), sr, last_chunk=False)
          await rt.flush()

          async for frame in rt.run():
              if frame.has_image:
                  image = frame.bgr_image         # numpy (H, W, 3) uint8
              if frame.end_of_speech:
                  break
          await rt.stop()

      asyncio.run(main())
      ```

      ### Audio format

      | Property | Value |
      |---|---|
      | Encoding | 16-bit signed PCM (`int16`) |
      | Channels | Mono |
      | Sample rate | Any (SDK auto-resamples) |
      | Chunk size | Anything; 10–40 ms is typical |

      ### Frame format

      Each yielded `frame` exposes:

      | Field | Type | What it is |
      |---|---|---|
      | `bgr_image` | `numpy.ndarray` (H, W, 3) `uint8` | The rendered video frame |
      | `audio_chunk` | `bytes` | Audio aligned with the frame |
      | `has_image` | `bool` | False for filler frames during silence |
      | `end_of_speech` | `bool` | True on the last frame of a turn |

      Frames arrive at **25 FPS** regardless of audio chunk size.

      ### When the avatar isn't speaking

      During silence, the runtime emits filler frames (`has_image=False`)
      so your render loop keeps its 25 FPS cadence. Skip them or render
      a static idle frame.

  - name: agent-lifecycle
    x-displayName: Agent lifecycle
    description: |
      ## The agent lifecycle

      From "I have a face and voice" to "live talking avatar":

      ```
      Generate → Store → Resolve → Live session → Speak
      ```

      ### 1. Generate

      [`POST /v1/agent/generate`](#tag/Agent-Generation/operation/generateAgent)
      with a prompt + image + voice sample. Returns `{agent_id, status:
      "processing"}` immediately — generation runs async.

      ### 2. Poll until ready

      [`GET /v1/agent/status/{agent_id}`](#tag/Agent-Generation/operation/getAgentStatus)
      — poll every 5 s. Status transitions:

      ```
      processing → generating → completed → ready  (success)
                                       \→ failed   (error)
      ```

      `generating` and `completed` are **intermediate** — keep polling
      past them until you see `ready` or `failed`. Typical wall-clock:
      2–5 minutes.

      ### 3. Resolve & stream

      Once `ready`, the agent has an `agent_code` (e.g. `A78WKV4515`).
      Every SDK can resolve it by code:

      ```python
      rt = await AsyncBithuman.create(
          agent_code="A78WKV4515",  # not model_path — code resolves to .imx
          api_secret=os.environ["BITHUMAN_API_SECRET"],
      )
      ```

      ### 4. Drive the live session

      For a hosted LiveKit session, push text into the live room:

      ```bash
      curl -X POST https://api.bithuman.ai/v1/agent/A78WKV4515/speak \
        -H "api-secret: $BITHUMAN_API_SECRET" \
        -H "content-type: application/json" \
        -d '{"message": "Hello!"}'
      ```

      For silent knowledge injection (avatar doesn't say it aloud but
      uses it in future replies):

      ```bash
      curl -X POST https://api.bithuman.ai/v1/agent/A78WKV4515/add-context \
        -H "api-secret: $BITHUMAN_API_SECRET" \
        -H "content-type: application/json" \
        -d '{"context": "The customer is on the Pro plan."}'
      ```

      ### Updating an agent

      [`POST /v1/agent/{code}`](#tag/Agent-Management/operation/updateAgent)
      updates the system prompt only — for new face/voice, generate a
      new agent.

  ##########################################################################
  # SDK sections
  ##########################################################################
  - name: sdk-python
    x-displayName: Python SDK
    description: |
      ## Python SDK

      ```bash
      pip install bithuman --upgrade
      ```

      Python 3.9–3.14, pre-built wheels for macOS arm64 and Linux x86_64 / aarch64 (macOS Intel + Windows via per-tag CI builds). As of
      2.3.0 this wheel is the **Python SDK library only** (~5 MB):
      runtime + LiveKit plugin glue. The `bithuman` CLI binary ships
      separately as `pip install bithuman-cli` or
      `brew install bithuman-product/bithuman/bithuman-cli`.

      ```python
      import asyncio, os
      from bithuman import AsyncBithuman

      async def main():
          rt = await AsyncBithuman.create(
              model_path="avatar.imx",
              api_secret=os.environ["BITHUMAN_API_SECRET"],
          )
          print(rt.frame_width, "x", rt.frame_height)
          await rt.stop()

      asyncio.run(main())
      ```

      [Full Python SDK reference →](https://github.com/bithuman-product/bithuman-sdk-public/blob/main/python/README.md)

  - name: sdk-swift
    x-displayName: Swift SDK
    description: |
      ## Swift SDK

      In Xcode: **File → Add Package Dependencies…** →
      `https://github.com/bithuman-product/bithuman-sdk-public.git` →
      pin to **0.8.1 or later** (older versions are unsupported).

      ```swift
      // Package.swift
      .package(
          url: "https://github.com/bithuman-product/bithuman-sdk-public.git",
          from: "0.8.1"
      )
      ```

      ```swift
      import bitHumanKit

      let runtime = try await Bithuman.createRuntime(modelPath: modelURL)
      ```

      Binary XCFramework, zero transitive SwiftPM deps. Runs on:
      - macOS 26+ (Tahoe) on Apple Silicon M3+
      - iPad Pro M4+
      - iPhone 16 Pro+ (A18 Pro)

      Expression on Apple Silicon auto-spawns
      `bithuman-expression-daemon` as a subprocess. On unsupported
      hardware, `ExpressionModelNotSupported` is raised — not a crash.

      [Full Swift SDK reference →](https://github.com/bithuman-product/bithuman-sdk-public/blob/main/README.md)

  - name: sdk-kotlin
    x-displayName: Kotlin SDK
    description: |
      ## Kotlin SDK

      ```kotlin
      // app/build.gradle.kts
      android {
          defaultConfig {
              ndk { abiFilters += setOf("arm64-v8a") }
              minSdk = 29
          }
      }
      dependencies {
          implementation("ai.bithuman:sdk:1.17.1")
      }
      ```

      ```kotlin
      import ai.bithuman.sdk.Bithuman

      val runtime = Bithuman.createRuntime("/path/to/avatar.imx")
      ```

      AAR ships `arm64-v8a`, Android 10+.

      [Full Kotlin SDK reference →](https://github.com/bithuman-product/bithuman-sdk-public)

  - name: sdk-flutter
    x-displayName: Flutter plugin
    description: |
      ## Flutter plugin

      ```yaml
      # pubspec.yaml
      dependencies:
        bithuman: ^1.16.0
      ```

      One Dart codebase across macOS, iOS, and Android, with built-in
      per-platform echo cancellation.

      Pub.dev publish is pending — request the git-dep URL on
      [Discord](https://discord.gg/ES953n7bPA).

  - name: cli
    x-displayName: CLI (bithuman)
    description: |
      ## The bithuman CLI

      A standalone Rust binary that drives the full avatar engine
      without writing any code. Same engine as the SDKs, same `.imx`
      format.

      ### Install

      ```bash
      # macOS — Homebrew (canonical)
      brew install bithuman-product/bithuman/bithuman-cli

      # any OS — universal installer
      curl -fsSL https://raw.githubusercontent.com/bithuman-product/homebrew-bithuman/main/install.sh | sh

      # Python-only env (Linux x86_64/aarch64 + macOS arm64)
      pip install 'bithuman-cli==2.3.0'
      ```

      ### Subcommands

      | Command | What it does |
      |---|---|
      | `bithuman list` | Browse showcase avatars available via `pull` |
      | `bithuman pull <slug>` | Download an avatar into `~/.cache/bithuman/showcase/` |
      | `bithuman info <path.imx>` | Inspect an `.imx` file's metadata |
      | `bithuman run <path.imx>` | Start the live avatar (mic in, browser viewer out) |
      | `bithuman render <path.imx> --audio x.wav --output y.mp4` | Offline lipsync — no browser, no brain |
      | `bithuman doctor` | Check credentials, brain selection, caches |
      | `bithuman --version` | Print engine + CLI versions |

      ### Live demo

      ```bash
      export BITHUMAN_API_SECRET=your_api_secret
      export OPENAI_API_KEY=sk-...                              # cloud brain
      bithuman pull modern-court-jester
      bithuman run ~/.cache/bithuman/showcase/modern-court-jester.imx
      # → open the printed http://127.0.0.1:8088/<CODE>, grant mic, talk
      ```

      ### On-device brain (no OpenAI key)

      ```bash
      pip install 'bithuman-cli[local]'
      BITHUMAN_LOCAL=1 bithuman run ~/.cache/bithuman/showcase/modern-court-jester.imx
      ```

      See [Local mode →](#tag/local-mode) for the on-device stack
      (whisper.cpp + llama.cpp + Supertonic + Silero VAD).

      <div class="bh-cards">
        <a href="#tag/quickstart" class="bh-card">
          <strong>Quickstart →</strong>
          <span>Full 2-minute walkthrough</span>
        </a>
        <a href="#tag/local-mode" class="bh-card">
          <strong>Local mode →</strong>
          <span>Run fully offline</span>
        </a>
      </div>

  ##########################################################################
  # Guides
  ##########################################################################
  - name: local-mode
    x-displayName: Local mode (on-device brain)
    description: |
      ## Local mode

      For private, no-cloud operation, install the `[local]` extra on
      the CLI package and set `BITHUMAN_LOCAL=1`. The conversation
      brain swaps from OpenAI Realtime to an entirely in-process
      stack — no API key, no outbound network.

      ```bash
      pip install 'bithuman-cli[local]'
      export BITHUMAN_API_SECRET=...
      bithuman pull modern-court-jester
      BITHUMAN_LOCAL=1 bithuman run ~/.cache/bithuman/showcase/modern-court-jester.imx
      ```

      The local stack ships:

      - **STT** — whisper.cpp (`tiny.en` by default, configurable)
      - **LLM** — llama.cpp + a GGUF model (`Qwen 2.5 0.5B-Instruct Q4_K_M` by default)
      - **TTS** — Supertonic (the same model bitHuman ships in
        production for `/v1/tts`)
      - **VAD** — Silero

      ~1.5 GB RAM peak, ~860 MB one-time HuggingFace download.

      ### Tuning

      - `BITHUMAN_LOCAL_LLM=<gguf-path>` — swap to a bigger / smaller
        model
      - `BITHUMAN_LOCAL_LANG=<iso2>` — pin transcript language
        (default `en`)
      - `BITHUMAN_LOCAL_WHISPER=<name>` — pick the whisper variant

      ### Troubleshooting

      **Is local mode actually wired up?** `bithuman doctor` verifies
      the `[local]` extras are importable and lists the resolved
      backend versions.

      **First run feels stuck.** It's downloading ~860 MB from
      HuggingFace. Watch network activity; subsequent runs start in
      &lt;1 s.

      **LLM is too dumb.** Bump to a bigger GGUF — see the table above.

      **TTS pronounces wrong language.** Set `BITHUMAN_LOCAL_LANG` to
      match your transcript language.

  - name: building-avatars
    x-displayName: Building avatars
    description: |
      ## Building avatars

      Two ways to get an avatar `.imx`:

      ### 1. Download a pre-built one

      Browse [Explore](https://www.bithuman.ai/#explore), open the
      **⋮** menu on any agent → **Download**. Or via CLI:

      ```bash
      bithuman list                          # browse showcase avatars
      bithuman pull modern-court-jester      # cache locally
      ```

      ### 2. Generate from your own portrait

      Call `POST /v1/agent-generation` with:

      - **Prompt** — system instructions for the agent's personality
      - **Portrait** — front-facing photo or video
      - **Voice samples** — 3–10 s of clean speech for voice cloning
      - (Optional) **Knowledge** — documents the agent should know about

      ```bash
      curl -X POST https://api.bithuman.ai/v1/agent-generation \
        -H "api-secret: $BITHUMAN_API_SECRET" \
        -H "content-type: application/json" \
        -d '{
          "prompt": "You are a friendly receptionist.",
          "image_url": "https://example.com/headshot.jpg",
          "voice_url": "https://example.com/voice.wav"
        }'
      ```

      The response includes an `agent_code` you can immediately use
      with [`POST /v1/agent/{code}/speak`](#tag/Agent-Context).

      ### Media tips

      - **Portrait**: front-facing, neutral expression, even lighting,
        eyes open, mouth closed. Avoid hats, glasses, hands in frame.
      - **Voice**: 3–10 seconds of clean speech, no background noise,
        no music, mono WAV preferred (16 kHz+).

  ##########################################################################
  # Deployment — three focused pages
  ##########################################################################
  - name: deploy-livekit
    x-displayName: Managed (LiveKit plugin)
    description: |
      ## Deploy via LiveKit plugin

      The fastest path to production. Drop the bitHuman avatar into any
      LiveKit agent worker. Managed runtime, ~5-minute setup.

      ### Install

      ```bash
      pip install livekit-plugins-bithuman
      ```

      ### Wire into an agent worker

      ```python
      import os
      from livekit.plugins import bithuman

      avatar = bithuman.AvatarSession(
          avatar_id="A78WKV4515",
          api_secret=os.environ["BITHUMAN_API_SECRET"],
      )
      ```

      Each session bills at the [self-hosted or cloud rate](#tag/pricing)
      depending on whether the avatar GPU is yours or ours.

      ### What you get

      - **Managed avatar runtime** — no GPU to provision, no Docker to
        operate
      - **LiveKit Cloud-compatible** — works with both LiveKit Cloud
        and self-hosted LiveKit servers
      - **WebRTC delivery** — video streamed via LiveKit's media
        pipeline to any client

      See the [bithuman-tts plugin
      README](https://github.com/bithuman-product/bithuman-tts) for
      the voice-agent integration recipe.

      <div class="bh-cards">
        <a href="#tag/deploy-self-hosted" class="bh-card">
          <strong>Self-hosted GPU →</strong>
          <span>Run on your own NVIDIA hardware</span>
        </a>
        <a href="#tag/deploy-embed" class="bh-card">
          <strong>Browser embed →</strong>
          <span>Drop an iframe on any page</span>
        </a>
      </div>

  - name: deploy-self-hosted
    x-displayName: Self-hosted GPU (Docker)
    description: |
      ## Self-hosted GPU deployment

      Run Expression on your own NVIDIA hardware. The Docker image is
      published on Docker Hub and ships everything baked in.

      ### Pull and run

      ```bash
      docker run --gpus all -p 8089:8089 \
        -v bithuman-models:/data/models \
        --tmpfs /tmp/bh-weights:size=9g,mode=0700 \
        --env-file ./bithuman.env \
        sgubithuman/expression-avatar:latest
      ```

      Point a LiveKit agent worker at `http://localhost:8089/launch` —
      the worker will spawn render sessions on demand.

      ### Hardware floor

      | GPU | Concurrent Essence sessions |
      |---|---|
      | RTX 3090 (24 GB) | 6–8 |
      | RTX 4090 (24 GB) | **8–10** (recommended) |
      | H100 (80 GB) | 30+ (overkill for most loads) |

      Expression sessions are heavier — budget ~3 GB VRAM per session.

      ### Billing

      Self-hosted GPU sessions bill at the **self-hosted rate** (1 cr/min
      Essence, 2 cr/min Expression). See [pricing](#tag/pricing) for the
      cloud-vs-self-hosted breakdown.

  - name: deploy-embed
    x-displayName: Browser embed
    description: |
      ## Browser embed

      Embed an agent as an iframe — no SDK install, drop it on any page:

      ```html
      <iframe
        src="https://agent.viewer.bithuman.ai/api/embed/A78WKV4515"
        allow="microphone; camera; autoplay"
        style="width: 100%; height: 600px; border: 0;"
      ></iframe>
      ```

      Replace `A78WKV4515` with your agent code.

      ### Production: mint short-lived tokens

      For per-visitor session tracking and rate limiting, mint a
      short-lived embed token from your backend and append it as a
      query string:

      ```js
      // server: mint token (api-secret never reaches the browser)
      const res = await fetch("https://api.bithuman.ai/v1/embed-tokens/request", {
        method: "POST",
        headers: {
          "api-secret": process.env.BITHUMAN_API_SECRET,
          "content-type": "application/json",
        },
        body: JSON.stringify({
          agent_id: "A78WKV4515",
          fingerprint: visitorFingerprint,  // stable per-device hex
        }),
      });
      const { data: { token } } = await res.json();

      // browser: pass token in the iframe URL
      // <iframe src="https://agent.viewer.bithuman.ai/api/embed/A78WKV4515?token={token}" .../>
      ```

      The token is a **1-hour JWT**. Mint per visitor session. See
      [POST /v1/embed-tokens/request](#tag/Embedding/operation/requestEmbedToken)
      for the full request shape.

  ##########################################################################
  # Community
  ##########################################################################
  - name: community
    x-displayName: Community
    description: |
      ## Community

      - **GitHub** —
        [bithuman-product/bithuman-sdk-public](https://github.com/bithuman-product/bithuman-sdk-public)
        for issues, examples, and Swift SDK source distribution.
      - **Discord** —
        [discord.gg/ES953n7bPA](https://discord.gg/ES953n7bPA) — questions,
        showcases, and roadmap discussions.
      - **Twitter / X** —
        [@bithuman_ai](https://twitter.com/bithuman_ai) — release
        announcements and demos.

      ### Contributing

      We accept community PRs for SDK examples, integration plugins
      (LiveKit, Pipecat, Vapi, etc.), and docs. See
      [CONTRIBUTING.md](https://github.com/bithuman-product/bithuman-sdk-public/blob/main/CONTRIBUTING.md)
      for the RFC process.

      <div class="bh-cards">
        <a href="https://discord.gg/ES953n7bPA" class="bh-card">
          <strong>Join Discord →</strong>
          <span>Talk to the team and community</span>
        </a>
        <a href="https://github.com/bithuman-product/bithuman-sdk-public" class="bh-card">
          <strong>GitHub →</strong>
          <span>Issues, examples, SDK source</span>
        </a>
      </div>

  - name: changelog
    x-displayName: Changelog & releases
    description: |
      ## Changelog & releases

      - **SDK release notes** —
        [github.com/bithuman-product/bithuman-sdk-public/releases](https://github.com/bithuman-product/bithuman-sdk-public/releases)
        for tagged releases across Python, Swift, Kotlin, and Flutter.
      - **Downloads page** —
        [releases.bithuman.ai](https://releases.bithuman.ai) for
        pre-built wheels, the platform support matrix, and the
        device-by-device compatibility table.
      - **API changelog** — breaking changes to the REST API are
        announced on Discord and in the GitHub repo's CHANGELOG. The
        REST API itself is versioned via `/v1/...` / `/v2/...` paths;
        new endpoints land additively without forcing migrations.

      ### Versioning policy

      | Surface | Versioning |
      |---|---|
      | REST API | URL path (`/v1/`, `/v2/`) — never breaks at minor |
      | Python SDK | Semver — minor bumps may add params; major bumps may rename |
      | Swift SDK | Semver — current floor is `0.8.1` per Package.swift |
      | Kotlin / Flutter SDKs | Semver — pinned in `build.gradle` / `pubspec.yaml` |
      | `.imx` file format | Forward-compatible within a major; auto-upgraded on first load |

  - name: support
    x-displayName: Support & status
    description: |
      ## Support & status

      ### Status

      [**status.bithuman.ai**](https://status.bithuman.ai) — live
      status of `api.bithuman.ai`, the GPU avatar pool, TTS, agent
      generation, and the dashboard.

      ### Where to get help

      | I want to… | Go here |
      |---|---|
      | Report a bug | [GitHub issues](https://github.com/bithuman-product/bithuman-sdk-public/issues) |
      | Ask a question | [Discord #help](https://discord.gg/ES953n7bPA) |
      | Request a feature | [Discord #ideas](https://discord.gg/ES953n7bPA) |
      | Email support | hello@bithuman.ai |
      | Security disclosure | hello@bithuman.ai (see [SECURITY.md](https://github.com/bithuman-product/bithuman-sdk-public/blob/main/SECURITY.md)) |

      ### Service status

      All of api.bithuman.ai runs behind Cloudflare with multiple
      origins for HA. When a regional issue surfaces, the status page
      is the first place we publish.

  ##########################################################################
  # API tags (these have actual operations attached)
  ##########################################################################
  - name: Authentication
    description: Verify API credentials with `POST /v1/validate`.
  - name: Voice
    description: |
      Text-to-speech synthesis in 31 languages with 10 built-in
      voices, plus an OpenAI-compatible drop-in (`/v1/audio/speech`)
      and a voice-tuning preview surface.

      **Try it live:** [www.bithuman.ai/voice](https://www.bithuman.ai/voice).
  - name: Agent Generation
    description: Create new avatar agents from prompts, portraits, and voice samples.
  - name: Agent Management
    description: Retrieve and update existing agents.
  - name: Agent Context
    description: Control live avatar sessions — make them speak or inject knowledge.
  - name: Files
    description: Upload images, videos, audio, and documents.
  - name: Billing
    description: Check credit balance, plan details, and usage history.
  - name: Webhooks
    description: |
      Register HTTPS endpoints to receive signed event notifications when
      async work finishes (today: `agent.ready`, `agent.failed`). Each
      delivery carries an `X-BitHuman-Signature: sha256=<hmac>` header — verify
      it with the secret returned once at creation.
  - name: Embedding
    description: Mint short-lived tokens for website avatar embeds.
  - name: Dynamics
    description: |
      Generate and manage conversational gesture animations (wave,
      nod, laugh, idle motions) for an avatar. Generate them
      asynchronously, then toggle on/off to make them the active model
      for live sessions. Gestures trigger based on keyword mapping
      during conversation.
