openapi: 3.1.0
info:
  title: bitHuman
  version: "1.0"
  contact:
    name: bitHuman Support
    url: https://discord.gg/ES953n7bPA
  x-logo:
    url: https://docs.bithuman.ai/bithuman-mark.png
  description: |
    Real-time, lip-synced AI avatars. Audio in, talking video out at
    25 FPS with sub-200 ms latency. Render on the cloud, on-device, or
    in the browser — one engine, one `.imx` file.

    <div class="bh-cards">
      <a href="#tag/quickstart" class="bh-card">
        <strong>Quickstart →</strong>
        <span>Your first talking avatar in 2 minutes</span>
      </a>
      <a href="#tag/Voice" class="bh-card">
        <strong>Voice API →</strong>
        <span>TTS in 30+ languages, 10 voices, OpenAI-compatible</span>
      </a>
      <a href="#tag/sdk-python" class="bh-card">
        <strong>Python SDK →</strong>
        <span>pip install bithuman</span>
      </a>
      <a href="#tag/sdk-swift" class="bh-card">
        <strong>Swift SDK →</strong>
        <span>Mac / iPad / iPhone, on-device</span>
      </a>
    </div>

    All endpoints are relative to `https://api.bithuman.ai` and
    require an `api-secret` header.
    [Get a free API secret →](https://www.bithuman.ai/#developer)

    Some routes are intentionally excluded from this reference because
    they are internal or infrastructure — webhook receivers, `/func_*`
    generation internals, health/telemetry, and realtime session
    plumbing. They are not part of the public developer contract and
    may change without notice.

servers:
  - url: https://api.bithuman.ai
    description: Production

security:
  - apiSecret: []

paths:
  /v1/validate:
    post:
      operationId: validateApiSecret
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/validate \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → {"valid": true}
      summary: Validate API secret
      description: |
        Verify that your API secret is valid and your account is active.

        Always returns HTTP 200. Inspect the `valid` field in the body
        to determine outcome — invalid or missing credentials yield
        `{"valid": false}` rather than a 401.
      tags: [Authentication]
      responses:
        "200":
          description: Validation complete (check the `valid` field)
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    example: true

  /v1/agent/generate:
    post:
      operationId: generateAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/generate \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{
                "prompt": "You are a friendly fitness coach who motivates users.",
                "image": "https://example.com/face.jpg",
                "audio": "https://example.com/voice.wav",
                "model": "auto"
              }'
            # → {"success": true, "agent_id": "A91XMB7113", "status": "processing"}
            # then poll GET /v1/agent/status/A91XMB7113
      summary: Generate a new agent
      description: |
        Create a new avatar agent from a text prompt, with optional image
        and audio assets. Poll `/v1/agent/status/{agent_id}` to check
        progress.

        **Agent creation is image-only.** Provide a portrait `image` (or let
        the prompt generate one) — bitHuman generates a **10-second
        identity video internally**, authored to loop seamlessly (its
        first and last frames match). Video input is not part of the creation
        contract for any model and is being removed platform-wide: do not
        send `video` — as the rollout completes, a request carrying it is
        rejected with `400 VIDEO_INPUT_NOT_SUPPORTED` before anything is
        billed.

        **Creation time depends on `model`** (the second-generation
        models train real per-identity models — don't apply a 5-minute client
        timeout):

        | model | identity input | typical creation time |
        |---|---|---|
        | `essence-1` (default) | image (or generated from prompt) | 2–5 minutes |
        | `expression-1` | image (or generated from prompt) | ~1–2 minutes |
        | `essence-2` | image (or generated from prompt) — a 10-second identity video is generated internally | 45 minutes typical; long builds can take hours — **both Essence 2 models from one creation** |
        | `essence-2-max` | included with every `essence-2` creation — its identity derives from the same internally generated identity video | prepares in seconds; available once the agent is ready |
        | `expression-2` | image (or generated from prompt) | ~45 minutes (30–60) |
        | `auto` | image or prompt (classified automatically) | as the routed model (`essence-2` or `expression-2`) |

        **Picking the right family:** `essence-2` works best for
        photorealistic human figures; `expression-2` works best for
        cartoonish, stylized, animal, creature, or robot characters. Send
        `model: "auto"` to apply this rule automatically — the platform
        classifies your input and records the recommended model either way.

        **Subject requirement (Essence 2 family):** `essence-2` and
        `essence-2-max` require a **photorealistic
        human** subject. The input is classified before anything is billed; a
        cartoon / animal / creature / robot input is rejected with
        `422 MODEL_SUBJECT_MISMATCH` (nothing charged) — use `expression-2`
        for those characters, or send `model: "auto"` to route
        automatically.

        Failures during generation surface as `status: "failed"` with an
        `error_message` on the status endpoint, and the creation credits
        are automatically refunded.
      tags: [Agent Generation]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: System prompt / personality for the agent. If omitted, a random default is used.
                  example: "You are a friendly fitness coach who motivates users."
                image:
                  type: string
                  description: URL to a face image for avatar appearance.
                  example: "https://example.com/face.jpg"
                audio:
                  type: string
                  description: URL to audio for voice cloning.
                  example: "https://example.com/voice.wav"
                aspect_ratio:
                  type: string
                  enum: ["16:9", "9:16", "1:1"]
                  default: "16:9"
                  description: Aspect ratio for image generation.
                agent_id:
                  type: string
                  description: Custom agent identifier. Auto-generated if omitted.
                duration:
                  type: integer
                  deprecated: true
                  description: >-
                    **Deprecated — omit it.** The internally generated
                    identity/driver video is standardizing on 10 seconds
                    (authored to loop seamlessly); the parameter is ignored
                    as that rollout completes.
                model:
                  type: string
                  enum: [essence-1, essence-2, essence-2-max, essence-2-quality, expression-1, expression-2, essence, expression, auto]
                  default: essence-1
                  example: "auto"
                  description: >-
                    Avatar runtime model for the generated agent. Public
                    names: `essence-1`, `essence-2`, `expression-1`,
                    `expression-2`. `essence-1` / `expression-1` are available
                    today; **`essence-2` and `expression-2` launched July 10,
                    2026** — creation access opens progressively during the
                    rollout (a still-paused v2 model returns
                    `503 MODEL_NOT_YET_AVAILABLE`, nothing charged).
                    **`essence-2` is the second-generation
                    Essence model** for photorealistic people — one 500-credit
                    creation that runs everywhere from fully on-device (CPU /
                    Apple Neural Engine) up to cloud GPU; bitHuman serves the
                    right way automatically, so you just select `essence-2`.
                    (**`essence-2-max`** is the premium model — the Essence 2
                    gold teacher served directly on L40S-class GPUs for
                    maximum fidelity; its pre-rename name `essence-2-quality`
                    is still accepted as a **deprecated alias** during the
                    2026-07-10 rename migration. The former `essence-2-light`
                    name was consolidated into `essence-2` and is no longer
                    accepted.) **`auto` classifies your input**
                    (the image if provided, else the prompt): a photorealistic
                    person routes to `essence-2` (combined); a cartoon,
                    animal, creature or robot routes to `expression-2` — the
                    family that works best for stylized characters. `auto` must be
                    sent explicitly — an omitted `model` keeps the historical
                    `essence-1` default. `expression-2` is the
                    second-generation expression engine — audio-driven
                    real-time avatar video from a single photo (creation
                    trains a per-identity model, roughly 45 minutes). The bare
                    `essence` and `expression` are **version shorthands** that
                    resolve to the current default of each family
                    (`essence`→`essence-1`, `expression`→`expression-1`).
                    Retired engine names are **no longer accepted** and return
                    `400 VALIDATION_ERROR`. Identity inputs and creation times
                    differ per model — see the endpoint description table and
                    [Essence vs Expression](#tag/models).
      responses:
        "200":
          description: Generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Agent generation started"
                  agent_id:
                    type: string
                    example: "A91XMB7113"
                  status:
                    type: string
                    example: "processing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: >-
            Insufficient credits. Creation is billed **per model** —
            `expression-2` costs 2000 credits; the Essence 2 family
            (`essence-2`, `essence-2-max`) costs 500; `auto` bills the
            routed model's rate (500 or 2000); the v1 families (`essence-1`,
            `expression-1`) cost 250. Top up to continue. Returns error code
            `INSUFFICIENT_BALANCE`.
        "400":
          description: >-
            Body failed validation — malformed JSON, an invalid / retired
            `model` value (`VALIDATION_ERROR` — the message lists the
            accepted model names), or a `video` input
            (`VIDEO_INPUT_NOT_SUPPORTED` — agent creation is image-only; the
            10-second identity video is generated internally so it loops
            seamlessly; this rejection is rolling out platform-wide, so
            never send `video`). Rejected before dispatch; no credits
            charged.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                validation_error:
                  summary: Invalid model value
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Invalid model 'my-model'; must be one of: auto, essence, essence-1, essence-2, essence-2-max, essence-2-quality, expression, expression-1, expression-2"
                      httpStatus: 400
                    status: "error"
                    status_code: 400
                video_input_not_supported:
                  summary: Video creation input (image-only contract)
                  value:
                    error:
                      code: "VIDEO_INPUT_NOT_SUPPORTED"
                      message: "Agent creation is image-only. Provide a portrait `image`; bitHuman generates a 10-second idle/driver video internally so it loops seamlessly (first frame == last frame). Video input is not accepted for any model (essence-1, expression-1, essence-2, essence-2-max, expression-2)."
                      httpStatus: 400
                    status: "error"
                    status_code: 400
        "422":
          description: >-
            `MODEL_SUBJECT_MISMATCH` — an explicit Essence 2 creation
            (`essence-2`, `essence-2-max`) whose input
            is not a photorealistic human subject. The classifier runs on the
            image if provided, else the prompt, **before anything is billed**
            and before any agent row is created. Use `expression-2` for
            cartoon / animal / creature / robot subjects, or `model: "auto"`
            (which never rejects — it routes instead). A classifier outage never
            blocks creation (the gate fails open).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_SUBJECT_MISMATCH"
                  message: "essence-2 requires a photorealistic human subject; this image looks like a cartoon — use expression-2"
                  httpStatus: 422
                status: "error"
                status_code: 422
        "503":
          description: >-
            `MODEL_NOT_YET_AVAILABLE` — the requested second-generation model
            (`essence-2`, `essence-2-max`, `expression-2`, or `auto`, which
            routes only to them) isn't open for creation on your account yet.
            Essence 2 and Expression 2 launched July 10, 2026 with creation
            access opening progressively — while the rollout completes, a
            paused model returns this code **before any dispatch or charge**.
            The v1 families (`essence-1`, `expression-1`) always work; retry
            the v2 model later.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_NOT_YET_AVAILABLE"
                  message: "expression-2 isn't available for generation yet. Specify 'essence-1' or 'expression-1' to generate now."
                  httpStatus: 503
                status: "error"
                status_code: 503

  /v1/agent/status/{agent_id}:
    get:
      operationId: getAgentStatus
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/agent/status/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # poll every 5 s until data.status is "ready"/"success" (or "failed")
      summary: Get agent generation status
      description: |
        Poll this endpoint to check generation progress. Status values:
        `processing`, `generating`, `completed` (intermediate); `success` /
        `ready` (terminal success); `failed` (terminal error).

        **Keep polling past `generating` and `completed`** — those are
        intermediate states, not terminal. `completed` can appear early (even
        around ~5% `progress`), so do not stop on it. Only `success` / `ready`
        and `failed` mean polling should stop; gate on `progress` reaching
        `1.0` together with a terminal status.

        `current_step` reports the pipeline stage: `payment` (~2%) →
        `persona` (5–15%) → `voice_image` (~20%) → `video` (~45%, the
        internally generated 10-second identity video — models that need
        one) → `lip_sync` (70–99%, the
        model-specific identity step — training/distillation for
        `expression-2` / `essence-2`, so the longest stage) → `done`
        (100%). A rare `essence-1` path reports `awaiting_face_marking`
        (~35%).

        Recommended polling interval: 5 seconds. Size your overall timeout to
        the model: minutes for `essence-1` / `essence-2-max`, ~90 minutes
        for `expression-2`, and up to several hours for `essence-2`.
      tags: [Agent Generation]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      agent_id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      status:
                        type: string
                        enum: [processing, generating, completed, success, ready, failed]
                      system_prompt:
                        type: string
                      image_url:
                        type: string
                      video_url:
                        type: string
                      model_url:
                        type: string
                        description: URL to download the .imx model file (when status is ready).
                      voice_id:
                        type: string
                      progress:
                        type: number
                        format: float
                        minimum: 0
                        maximum: 1
                        description: Generation progress as a fraction from 0.0 to 1.0.
                      progress_msg:
                        type: string
                        description: Human-readable progress description.
                      current_step:
                        type: string
                        description: >-
                          Current generation step. Known values: `payment`,
                          `persona`, `voice_image`, `video`,
                          `awaiting_face_marking`, `lip_sync`, `done`.
                        example: "lip_sync"
                      supported_models:
                        type: array
                        items: { type: string }
                        description: >-
                          Canonical model families this agent can be launched
                          as right now. Trained families (`expression-2`,
                          `essence-2-light` — the standard `essence-2`'s
                          internal family name) appear once their per-identity
                          model has been generated; `essence-2-quality` (the
                          internal family name for `essence-2-max` until the
                          platform-side rename flip) appears whenever an image
                          exists (prepares on demand). Tier slugs inherit
                          their family.
                        example: ["essence-2-quality", "expression-2"]
                      event_type:
                        type: string
                        description: Most recent event (e.g. "lip_created").
                      error_message:
                        type: string
                        description: Error details if status is "failed".
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}:
    get:
      operationId: getAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get agent details
      description: Retrieve full details for an agent by its code.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/Agent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      operationId: updateAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"system_prompt": "You are a professional sales assistant."}'
      summary: Update agent prompt
      description: Update an existing agent's system prompt. The agent must already exist (use `POST /v1/agent/generate` to create one).
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                system_prompt:
                  type: string
                  description: New system prompt for the agent.
                  example: "You are a professional sales assistant."
      responses:
        "200":
          description: Agent prompt updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  updated:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteAgent
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X DELETE https://api.bithuman.ai/v1/agent/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → {"success": true, "agent_code": "A91XMB7113", "deleted": true}
      summary: Delete an agent
      description: |
        Permanently delete an agent you own. Stored assets are cleaned up
        best-effort; usage history is retained. Deleting a missing or
        non-owned agent returns 404.
      tags: [Agent Management]
      security:
        - apiSecret: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Agent deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  deleted:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/speak:
    post:
      operationId: agentSpeak
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/speak \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"message": "Hello! Welcome to our demo."}'
      summary: Make agent speak
      description: |
        Send text for the avatar to speak aloud in all active sessions.
        The agent must be in at least one active LiveKit room.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: Text for the avatar to speak.
                  example: "Hello! Welcome to our demo."
                room_id:
                  type: string
                  description: Target a specific room (optional, defaults to all active rooms).
      responses:
        "200":
          description: Speech triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                    example: "A91XMB7113"
                  context_type:
                    type: string
                    example: "speak"
                  delivered_to_rooms:
                    type: integer
                    example: 1
                    description: Number of active rooms that received the message.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/add-context:
    post:
      operationId: addContext
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/add-context \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"context": "The customer just purchased a premium plan."}'
      summary: Add context to agent
      description: |
        Inject background knowledge into the agent's context. The avatar
        won't say this aloud, but will use the information in future responses.
      tags: [Agent Context]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context]
              properties:
                context:
                  type: string
                  description: Knowledge to inject.
                  example: "The customer just purchased a premium plan."
                type:
                  type: string
                  enum: [add_context, speak]
                  default: add_context
                  description: "`add_context` for silent knowledge (default), `speak` to trigger verbal response."
                room_id:
                  type: string
                  description: Target a specific room (optional).
      responses:
        "200":
          description: Context added
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_code:
                    type: string
                  context_type:
                    type: string
                  delivered_to_rooms:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/agent/{code}/models:
    post:
      operationId: addAgentModel
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/agent/A91XMB7113/models \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"model": "expression-2"}'
            # → {"success": true, "status": "processing", ...} — poll
            #   GET /v1/agent/status/A91XMB7113 until supported_models lists it
      summary: Add a model to an existing agent
      description: |
        Add an avatar model to an agent you already created — no need to
        re-create the agent or regenerate its persona/voice/image. The agent
        must be in the `ready` state (else `409 AGENT_NOT_READY`).

        | model | what happens | prerequisites | credits | time |
        |---|---|---|---|---|
        | `expression-1` | **instant enablement** — the v1 engine drives the agent's existing image + voice at runtime; nothing is trained | stored image + voice | **0** | immediate (this response) |
        | `expression-2` | trains the per-identity Expression 2 model from the stored image | stored image | 2000 | ~10–45 min |
        | `essence-2` | the **combined** add: trains the standard Essence 2 from the agent's stored identity video (generated internally at creation); Essence 2 Max becomes available from the same video at no extra charge | stored identity video (else `422`) + photorealistic-human subject (else `422 MODEL_SUBJECT_MISMATCH`) | 500 | 45 min–3 h |
        | `essence-1` | builds the v1 `.imx` from the agent's stored identity video (or generates one internally from the stored image) | stored identity video or image | 250 | ~10–20 min |

        Asynchronous adds return `status: "processing"` — poll
        [`GET /v1/agent/status/{agent_id}`](#tag/Agent-Generation/operation/getAgentStatus)
        until `supported_models` contains the new family (`essence-2` adds
        both internal family names, `essence-2-light` and
        `essence-2-quality`). Charges are refunded
        automatically if the add fails; re-POSTing the same model never
        double-charges, and returns `status: "ready"` with `credits: 0` once
        the model already exists.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                  enum: [essence-1, essence-2, expression-1, expression-2]
                  description: >-
                    The model to add. The Essence 2 tiers are not individually
                    addable — `essence-2` is the one combined add (Light train
                    + Quality from the same identity video). Anything else
                    returns `400 VALIDATION_ERROR` listing these options.
                  example: "expression-2"
      responses:
        "200":
          description: >-
            Model added (`status: "ready"` — instant/already available) or the
            add started (`status: "processing"` — poll supported_models).
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  agent_id:
                    type: string
                  model:
                    type: string
                  status:
                    type: string
                    enum: [ready, processing]
                  credits:
                    type: integer
                    description: Credits charged for this add (0 for instant enablement / already available).
                  supported_models:
                    type: array
                    items:
                      type: string
                    description: The agent's launchable model families at response time.
                  message:
                    type: string
        "400":
          description: Invalid `model` (the message lists the addable options).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >-
            `AGENT_NOT_READY` — the agent is still generating or failed;
            models can only be added to a ready agent.
        "422":
          description: >-
            `MODEL_PREREQUISITE_MISSING` — the agent lacks a stored asset the
            model needs (e.g. `essence-2` needs the agent's stored identity
            video — generated internally by Essence creations, never
            uploaded), or
            `MODEL_SUBJECT_MISMATCH` — the Essence 2 family requires a
            photorealistic human subject and the stored image is a
            cartoon/animal/creature/robot (use `expression-2`).
        "503":
          description: >-
            `MODEL_NOT_YET_AVAILABLE` — adding a second-generation model
            (`essence-2`, `expression-2`) isn't open on your account yet;
            creation access is opening progressively since the July 10, 2026
            launch. Rejected before any charge — retry later. Adding the v1
            models always works.

  /v1/agent/{code}/model/download:
    get:
      operationId: downloadAgentModel
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            # 302 redirect to the artifact — -LOJ follows it and keeps the filename
            curl -LOJ "https://api.bithuman.ai/v1/agent/A17ZTB0222/model/download?model=expression-2" \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # → A17ZTB0222.avatar  (add ?redirect=false for the URL as JSON)
      summary: Download an agent's model artifact
      description: |
        Download the generated model file for an agent you own. The family
        defaults to the agent's own model; override with `?model=<family>`
        (canonical names, legacy names, and runtime tier slugs all fold onto
        their family). Artifact per family:

        | family | artifact |
        |---|---|
        | `essence-1` | `<code>.imx` (the portable IMX container) |
        | `essence-2-light` | `<code>.lebundle.imx` — the standard Essence 2 artifact (unified IMX container, ~350–550 MB; **licensed weights** — local playback requires the runtime license activation flow) |
        | `essence-2-quality` | `<code>.pkl` — the Essence 2 Max artifact (IMX container) |
        | `expression-2` | `<code>.avatar` (CoreML zip — the Mac-runnable form, ~90 MB) |
        | `expression-1` | — not downloadable (renders server-side from the agent's image) → `400 MODEL_NOT_DOWNLOADABLE` |

        The default response is a **302 redirect** to the artifact — the
        public URL for `essence-1`, a **1-hour signed URL** on a private
        bucket for the other families — so `curl -LOJ` and browser anchors
        just work. Pass `?redirect=false` to get the URL as JSON instead.

        The launchability gate doubles as the download gate: a family the
        agent can't be launched as (missing from `supported_models`) returns
        `409 MODEL_NOT_GENERATED`. A family the agent supports whose artifact
        hasn't been published to the download store yet returns
        `404 MODEL_ARTIFACT_NOT_READY` — the message says when to retry;
        **poll on that code**.

        The [bitHuman CLI](https://docs.bithuman.ai/sdk/cli/commands) wraps
        this endpoint: `bithuman pull <AGENT_CODE>` downloads the artifact,
        recognizes its model family, and prints what to do next.
      tags: [Agent Management]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Agent code; the agent must be owned by the caller (else 404).
          example: "A17ZTB0222"
        - name: model
          in: query
          required: false
          schema:
            type: string
            enum: [essence-1, essence-2-light, essence-2-quality, expression-2]
          description: >-
            Artifact family. Defaults to the agent's own model. Public names,
            deprecated aliases and runtime tier slugs (e.g. `essence-2`,
            `essence-2-max`, `essence-2-ane`,
            `expression-2-gpu`) fold onto their family; an unrecognized value
            returns `400 VALIDATION_ERROR` listing the downloadable families.
            The families keep their internal names (`essence-2-max` folds
            onto `essence-2-quality`) until the platform-side rename flip.
          example: "expression-2"
        - name: redirect
          in: query
          required: false
          schema:
            type: string
            enum: ["false", "0", "no"]
          description: >-
            Pass `false` to receive the artifact URL as JSON (below) instead
            of a 302 redirect — for UIs that want to fetch or label first.
      responses:
        "302":
          description: >-
            Redirect to the artifact — a public URL for `essence-1`, a
            1-hour signed URL for the private families. Follow it
            (`curl -LOJ`) to download the file.
          headers:
            Location:
              schema:
                type: string
              description: The artifact URL.
        "200":
          description: With `?redirect=false` — the artifact URL as JSON.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      code:
                        type: string
                        example: "A17ZTB0222"
                      model:
                        type: string
                        description: The resolved canonical family.
                        example: "expression-2"
                      filename:
                        type: string
                        example: "A17ZTB0222.avatar"
                      url:
                        type: string
                        description: The artifact URL (signed, 1-hour TTL, for the private families).
                      expires_in:
                        type: integer
                        nullable: true
                        description: Signed-URL TTL in seconds (3600); `null` for the public essence-1 URL.
                        example: 3600
        "400":
          description: >-
            `VALIDATION_ERROR` — unknown `model` value (the message lists the
            downloadable families), or `MODEL_NOT_DOWNLOADABLE` — the family
            has no per-identity artifact to download (`expression-1` renders
            server-side from the agent's image).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: >-
            `NOT_FOUND` — agent unknown or not owned by this account; or
            `MODEL_ARTIFACT_NOT_READY` — the family is supported but its
            artifact hasn't been published to the download store yet. The
            message says when to retry; poll on this code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_ARTIFACT_NOT_READY"
                  message: "agent A17ZTB0222's expression-2 artifact isn't available for download yet: the Mac-runnable build is paced, typically within the hour"
                  httpStatus: 404
                status: "error"
                status_code: 404
        "409":
          description: >-
            `MODEL_NOT_GENERATED` — the requested family isn't in the agent's
            `supported_models` (same gate as embed/session launch), e.g.
            `agent <code>'s expression-2 model hasn't been generated yet`, or
            an `essence-2-max` request on an agent that has no stored
            identity video (identity videos are generated internally by
            Essence creations — create with, or add, `essence-2` to
            generate one).
        "429":
          description: Rate limited (read bucket) — `RATE_LIMITED`.

  /v1/files/upload:
    post:
      operationId: uploadFile
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/files/upload \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"file_url": "https://example.com/avatar.jpg", "file_type": "image"}'
      summary: Upload a file
      description: |
        Upload images, videos, audio, or documents. Files are auto-organized
        by type. Supports URL download or direct base64 upload.
      tags: [Files]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  title: Upload by URL
                  required: [file_url]
                  properties:
                    file_url:
                      type: string
                      description: Public URL to download the file from.
                      example: "https://example.com/avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
                      description: File type (auto-detected if omitted).
                - type: object
                  title: Upload by base64
                  required: [file_data, file_name]
                  properties:
                    file_data:
                      type: string
                      description: Base64-encoded file data.
                    file_name:
                      type: string
                      description: Original filename with extension.
                      example: "avatar.jpg"
                    file_type:
                      type: string
                      enum: [auto, image, video, audio, document]
                      default: auto
      responses:
        "200":
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "File uploaded successfully"
                  data:
                    type: object
                    properties:
                      file_url:
                        type: string
                        description: Public CDN URL of the uploaded file.
                      original_source:
                        type: string
                        description: Original URL or filename.
                      file_type:
                        type: string
                        description: Detected file type category.
                      file_size:
                        type: integer
                        description: File size in bytes.
                      mime_type:
                        type: string
                        description: MIME content type.
                      asset_category:
                        type: string
                        description: Storage category (images, videos, audio, docs).
                      uploaded_at:
                        type: string
                        format: date-time
        "400":
          description: "`file_url` could not be downloaded — unreachable, non-public, or blocked (`DOWNLOAD_FAILED`); or `file_data` was not valid base64 (`VALIDATION_ERROR`)."
        "413":
          description: File too large (max 10 MB for images, 100 MB for video)
        "415":
          description: Unsupported file type

  /v1/me:
    get:
      operationId: getMe
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/me \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get current account
      description: >-
        The canonical account preflight — returns your identity, plan, and live
        credit balance in one call. Use it to show "who am I / how many credits"
        and to gate features before a billable call.
      tags: [Account]
      responses:
        "200":
          description: Account retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                      email:
                        type: string
                      plan:
                        type: string
                        example: "pro"
                      plan_code:
                        type: string
                        example: "membership_pro"
                      credit_balance:
                        type: integer
                        example: 5836982
                        description: Total spendable credits = plan + topup + reward.
                      plan_credits_remaining:
                        type: integer
                        example: 5055
                      topup_credits_remaining:
                        type: integer
                        example: 5831600
                      account_status:
                        type: string
                        example: "active"
                      upgrade_url:
                        type: string
                      pricing_url:
                        type: string
                  status:
                    type: string
                    example: "success"
                  status_code:
                    type: integer
                    example: 200
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/pricing:
    get:
      operationId: getPricing
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/pricing \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get credit pricing
      description: >-
        Machine-readable credit pricing for billable operations, so you can
        estimate cost before a call. Authoritative charges are always enforced
        server-side at request time. For forward per-minute realtime estimates
        based on your current balance, see `GET /v2/credit-summaries`
        (`minutes_estimate`).
      tags: [Account]
      responses:
        "200":
          description: Pricing retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      unit:
                        type: string
                        example: "credits"
                      agent_generation:
                        type: object
                        description: >-
                          Agent creation is priced **per model** — read
                          `by_model` (there is no flat rate). `expression-2`
                          costs 2000 credits; the Essence 2 family costs 500
                          (`essence-2` is the combined Essence 2 creation —
                          one 500-credit charge covers both models); the v1
                          families cost 250. `auto` charges the routed
                          model's rate (500 for `essence-2`, 2000 for
                          `expression-2`). Post-generation adds via
                          `POST /v1/agent/{code}/models` charge the same
                          per-model rates (adding `expression-1` is free).
                        properties:
                          unit:
                            type: string
                            example: "credits"
                          by_model:
                            type: object
                            additionalProperties:
                              type: integer
                            description: >-
                              One-time creation cost per canonical `model`
                              value accepted by `POST /v1/agent/generate`.
                              Since the 2026-07-10 rename flip the premium
                              model is keyed `essence-2-max`; the pre-rename
                              `essence-2-quality` spelling is still accepted
                              as a deprecated alias at the same 500 but is no
                              longer advertised.
                            example:
                              essence-1: 250
                              expression-1: 250
                              essence-2-max: 500
                              expression-2: 2000
                              essence-2: 500
                              auto: 2000
                          note:
                            type: string
                      talking_video:
                        type: object
                        properties:
                          unit:
                            type: string
                            example: "credits_per_minute"
                          billing:
                            type: string
                            example: "ceil(minutes) * rate, minimum 1 minute"
                          rates:
                            type: object
                            additionalProperties:
                              type: integer
                            example:
                              essence-1: 8
                              expression-1: 4
                              expression-2: 4
                              essence-2-max: 8
                              essence-2: 4
                      dynamics_generation:
                        type: object
                        properties:
                          flat:
                            type: integer
                            example: 250
                          note:
                            type: string
                      notes:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v2/credit-summaries:
    get:
      operationId: getCreditSummaries
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v2/credit-summaries \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Check credit balance
      description: |
        Returns the current credit balance, plan details, and estimated minutes
        remaining for each usage type. Always scoped to the **authenticated
        account** (the owner of the `api-secret`) — there is no way to look up
        another user.
      tags: [Billing]
      security:
        - apiSecret: []
      parameters:
        - name: app
          in: query
          required: false
          description: App identifier for multi-app subscription support.
          schema:
            type: string
            default: imaginex
        - name: app_key
          in: query
          required: false
          description: Explicit subscription key for collection-scoped apps. Defaults to the same value as `app`.
          schema:
            type: string
      responses:
        "200":
          description: Credit balance retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: The authenticated account's UUID.
                      balance:
                        type: number
                        format: float
                        description: Sum of plan + topup + reward credits, returned as a float (e.g. 5910592.0).
                        example: 5910592.0
                      plan_credits:
                        type: number
                        format: float
                      topup_credits:
                        type: number
                        format: float
                      minutes_estimate:
                        type: object
                      is_enterprise:
                        type: boolean
                      isEnterprisePlanUser:
                        type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/embed-tokens/request:
    post:
      operationId: requestEmbedToken
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/embed-tokens/request \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_id": "A78WKV4515", "fingerprint": "9f3c8b1a2d4e5f6789ab"}'
            # → data.token is a 1-hour JWT for the embed widget
      summary: Generate embed token
      description: Generate a JWT token for embedding an avatar on a website. Use this from your backend — never expose your API secret in frontend code.
      tags: [Embedding]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - fingerprint
              properties:
                agent_id:
                  type: string
                  description: Agent code (e.g. A78WKV4515)
                  example: "A78WKV4515"
                fingerprint:
                  type: string
                  description: Stable per-device hex string used for session tracking and per-visitor rate limiting. Required.
                  example: "9f3c8b1a2d4e5f6789ab"
                model:
                  type: string
                  description: >-
                    Optional. Request a specific avatar model for the embed
                    session — a model name (`essence-1`, `expression-1`,
                    `essence-2`, `essence-2-max`, `expression-2` — the
                    pre-rename `essence-2-quality` is still accepted as a
                    deprecated alias for `essence-2-max`) or a
                    force-tier slug that pins one serving tier
                    (`expression-2-gpu/-cpu/-ane`, `essence-2-gpu/-ane/-cpu`;
                    the legacy `essence-2-light-gpu/-cpu` slugs still pin
                    their tiers, and retired `essence-2-light(-ane)` values
                    route to the `essence-2` chain). This is the **early
                    artifact gate**: if the requested model folds onto the
                    `expression-2` / `essence-2-light` families and the
                    agent's trained per-identity model hasn't been generated
                    yet, the request is rejected `409 MODEL_NOT_GENERATED`
                    instead of failing later at session dispatch. Unknown
                    values return `400 VALIDATION_ERROR` listing the accepted
                    names. Omitted → the agent's own default model.
                  example: "expression-2"
      responses:
        "200":
          description: Token generated. The returned `token` is a JWT (HS256-signed) with a 1-hour TTL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  status_code:
                    type: integer
                    example: 200
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: 1-hour JWT to pass as the `data-token` attribute on the embed widget script tag.
                      sid:
                        type: string
                        description: Session identifier for tracking this embed instance.
                      model:
                        type: string
                        description: The model baked into the token claim (present when `model` was requested).
                      supported_models:
                        type: array
                        items: { type: string }
                        description: >-
                          Canonical model families this agent can be launched
                          as right now (e.g. a ready expression-2 agent lists
                          `expression-2`; an agent with a stored identity
                          video — generated internally by Essence creations —
                          lists `essence-2-quality`, the internal family name
                          for `essence-2-max` until the platform-side rename
                          flip, whose identity prepares on demand from that
                          video). Tier slugs inherit their
                          family and are not listed.
                        example: ["essence-2-quality", "expression-2"]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: >-
            `MODEL_NOT_GENERATED` — the requested `model` folds to a known
            family the agent can't be launched as right now (it is missing
            from the agent's `supported_models`). For the trained families
            (`expression-2` / `essence-2-light`) the message is `agent
            <code>'s <model> model hasn't been generated yet`; for
            `essence-2-max` it means the agent has no stored identity video
            to prepare from — identity videos are generated internally by
            Essence creations (the message keeps the internal
            `essence-2-quality` family name until the platform-side rename
            flip). Add the
            model (`POST /v1/agent/{code}/models`) or create the agent with
            it, then retry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_NOT_GENERATED"
                  message: "agent A56ZFX6217's expression-2 model hasn't been generated yet"
                  httpStatus: 409
                status: "error"
                status_code: 409

  /v1/dynamics/generate:
    post:
      operationId: generateDynamics
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/dynamics/generate \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"agent_id": "A91XMB7113"}'
            # → {"success": true, "status": "processing"} — poll GET /v1/dynamics/A91XMB7113
      summary: Generate gesture animations
      description: |
        Create gesture animations (wave, nod, smile, laugh, etc.) for an agent.
        These can be triggered during live sessions via keyword mapping.
      tags: [Dynamics]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id:
                  type: string
                  example: "A91XMB7113"
                image_url:
                  type: string
                  description: Source image URL. Optional — defaults to the agent's primary image if omitted.
                duration:
                  type: integer
                  default: 5
                  description: Gesture duration in seconds.
                model:
                  type: string
                  enum: [seedance, kling, auto]
                  default: seedance
                  description: >-
                    Video motion model. `seedance` (default) or `kling`; `auto`
                    lets the platform choose. Any other value returns 400.
      responses:
        "200":
          description: Dynamics generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Dynamics generation started"
                  agent_id:
                    type: string
                  status:
                    type: string
                    example: "processing"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient credits. Dynamics generation costs 250 credits — INSUFFICIENT_BALANCE.
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/dynamics/{agent_id}:
    get:
      operationId: getDynamics
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/dynamics/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get available gestures
      description: List all available gesture animations for an agent.
      tags: [Dynamics]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
          example: "A91XMB7113"
      responses:
        "200":
          description: Available gestures
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      agent_id:
                        type: string
                      url:
                        type: string
                        description: Model path or null.
                      status:
                        type: string
                        enum: [ready, generating, processing, failed]
                      gestures:
                        type: object
                        description: Map of gesture name to video URL.
                        additionalProperties:
                          type: string
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      operationId: updateDynamics
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X PUT https://api.bithuman.ai/v1/dynamics/A91XMB7113 \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"dynamics": {"enabled": true}, "toggle_enabled": true}'
      summary: Update dynamics configuration
      description: |
        Update gesture settings for an agent. After a successful update,
        movements regeneration is automatically triggered in the background.
      tags: [Dynamics]
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dynamics]
              properties:
                dynamics:
                  type: object
                  description: |
                    Dynamics configuration to merge with existing data.
                    Fields: `enabled` (boolean), `batch_results` (gesture results),
                    `result` (model path/hash when generated), `talking` (default model path/hash).
                  properties:
                    enabled:
                      type: boolean
                      description: Enable or disable dynamics for this agent.
                    batch_results:
                      type: object
                      description: Map of gesture names to video generation results.
                    result:
                      type: object
                      description: Result model path and hash (set when dynamics generation completes).
                    talking:
                      type: object
                      description: Default talking model path and hash (used when dynamics are disabled).
                toggle_enabled:
                  type: boolean
                  description: |
                    `true` to switch agent to dynamics model, `false` to restore default talking model.
      responses:
        "200":
          description: Dynamics updated and movements regeneration triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    example: "Dynamics updated successfully and movements regeneration started"
                  agent_id:
                    type: string
                  regeneration_status:
                    type: string
                    enum: [started, failed]
                    description: Whether background movements regeneration was triggered.
                  regeneration_error:
                    type: string
                    description: Error message if regeneration_status is "failed".

  /v1/video/generate:
    post:
      operationId: generateTalkingVideo
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/video/generate \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{
                "model": "essence-2-max",
                "agent_code": "A91XMB7113",
                "input": {"type": "text", "text": "Hello, welcome to bitHuman."}
              }'
            # → {"success": true, "job_id": "vid_3f9a2c1b8e7d4a6f0b21", "status": "processing"}
            # add "wait": true to block (≤ ~90 s) for the finished video_url
      summary: Generate a talking video
      description: |
        Render a talking-video (mp4) from **text** or **audio**, driven by one of
        your agents.

        **Two modes:**
        - **Async (default)** — returns immediately with a `job_id`; poll
          [`GET /v1/video/{job_id}`](#operation/getTalkingVideo) for the finished
          video. Use this for anything but the shortest clips — renders can take a
          while, so you don't want to hold the connection.
        - **Sync** — set `wait: true` (or `?wait=true`). The call blocks until the
          render finishes (up to ~90s) and returns the `video_url` directly in this
          response. If the render is still running at that cap you get the async
          response (`status: processing`) instead — just poll the `job_id`.

        - **Text input** — the agent's own voice speaks your `text` (text → speech →
          render). Pass `input.voice` to override the voice for this render.
        - **Audio input** — your `audio_url` (a hosted WAV/MP3) drives the render
          directly.

        The output is a public CDN URL. Limits: max **120 seconds** of output, max
        **5000 characters** of text.
      tags: [Video]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
          description: Optional. A unique client-generated key (e.g. a UUID). Retrying with the same key returns the original response instead of starting a second billed job. Keys are retained for 24 hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input, agent_code]
              properties:
                model:
                  type: string
                  enum: [essence-1, expression-1, essence-2, essence-2-max, essence-2-quality, expression-2]
                  description: |
                    Avatar engine. `essence-1` (8 credits/min) and
                    `expression-1` (4 credits/min) are the classic v1 engines,
                    available today. `expression-2` (4 credits/min),
                    `essence-2-max` (8 credits/min, the premium model — its
                    pre-rename name `essence-2-quality` is still accepted as
                    a deprecated alias), and `essence-2`
                    (4 credits/min, the standard distilled renderer — the
                    former `essence-2-light` name, which is no longer
                    accepted) are the v2 engines.
                  example: "essence-2-max"
                agent_code:
                  type: string
                  description: An agent you own — provides the avatar identity (and, for text input, the default voice).
                  example: "A91XMB7113"
                wait:
                  type: boolean
                  default: false
                  description: >-
                    Sync toggle. `false` (default) returns a `job_id` immediately
                    (async — poll for the result). `true` blocks until the render
                    finishes (up to ~90s) and returns the finished `video_url` in
                    this response; if it exceeds the cap you get
                    `status: processing` + a `job_id` to poll. `?wait=true` as a
                    query parameter also works.
                input:
                  type: object
                  required: [type]
                  properties:
                    type:
                      type: string
                      enum: [text, audio]
                    text:
                      type: string
                      maxLength: 5000
                      description: Required when `type` is `text`. The script to speak.
                      example: "Hello, welcome to bitHuman."
                    voice:
                      type: string
                      description: Optional voice id override for text input. Defaults to the agent's own voice.
                    audio_url:
                      type: string
                      description: Required when `type` is `audio`. A public URL to a WAV or MP3 file.
                      example: "https://example.com/speech.wav"
      responses:
        "200":
          description: >-
            Async (or sync-timed-out): `status: processing` + a `job_id` to poll.
            Sync completed: `status: completed` with `video_url`, `duration_seconds`,
            and `credits_charged`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  job_id:
                    type: string
                    example: "vid_3f9a2c1b8e7d4a6f0b21"
                  status:
                    type: string
                    enum: [processing, completed]
                    example: "processing"
                  video_url:
                    type: string
                    description: Public mp4 URL — present only on a completed sync render (wait=true).
                  duration_seconds:
                    type: number
                    format: float
                    description: Output duration — present on a completed sync render.
                  credits_charged:
                    type: integer
                    description: Credits charged — present on a completed sync render.
        "400":
          description: Validation error — invalid model, missing input, or text/audio missing.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Insufficient credits — INSUFFICIENT_BALANCE. The cost is `ceil(minutes) × rate` (essence-1 = 8, expression-1 = 4, expression-2 = 4, essence-2-max = 8 — same for its deprecated alias essence-2-quality, essence-2 = 4 credits/min).
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >-
            `MODEL_NOT_GENERATED` — checked **before any charge**: the
            requested `model` is a family this agent can't be rendered as
            right now. For `expression-2` / `essence-2` that means the trained
            per-identity model hasn't been generated yet (message: `agent
            <code>'s <family> model hasn't been generated yet` — for
            `essence-2` the family reads `essence-2-light`, the internal name
            of its distilled tier); `essence-2-max` is gated on the
            agent's **stored identity video** (generated internally by
            Essence creations) — its identity prepares on demand from
            that video, so an agent without one is rejected with a message
            naming the missing identity video (the message keeps the internal
            `essence-2-quality`
            family name until the platform-side rename flip); `essence-1` needs the agent's `.imx` model file
            (present on every completed essence-1 creation) and
            `expression-1` needs an expression-1 agent (or the free
            post-generation expression-1 model add) with an image.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: "MODEL_NOT_GENERATED"
                  message: "agent A56ZFX6217's essence-2-light model hasn't been generated yet"
                  httpStatus: 409
                status: "error"
                status_code: 409

  /v1/video/{job_id}:
    get:
      operationId: getTalkingVideo
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/video/vid_3f9a2c1b8e7d4a6f0b21 \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # poll until status is "completed" — then video_url is the public mp4
      summary: Get talking-video status
      description: |
        Poll a talking-video render job. While rendering, `status` is `processing`.
        When done, `status` is `completed` and the response carries `video_url`,
        `duration_seconds`, and `credits_charged`. On failure, `status` is `failed`
        and the up-front charge is automatically refunded.
      tags: [Video]
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          example: "vid_3f9a2c1b8e7d4a6f0b21"
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  job_id:
                    type: string
                  status:
                    type: string
                    enum: [processing, completed, failed]
                  model:
                    type: string
                  video_url:
                    type: string
                    description: Public mp4 URL (present when status is `completed`).
                  duration_seconds:
                    type: number
                    format: float
                    description: Output duration in seconds (present when `completed`).
                  credits_charged:
                    type: integer
                    description: Credits charged for this render (present when `completed`).
                  error:
                    type: object
                    description: Failure detail (present when status is `failed`).
                    properties:
                      message:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/tts:
    post:
      operationId: synthesizeSpeech
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/tts \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"text": "Hello from bitHuman.", "voice": "F1"}' \
              --output hello.wav
      summary: Synthesize speech from text
      description: |
        Generates audio (WAV or PCM) from a text prompt. Pick a built-in voice
        (`M1`-`F5`), tune it inline with `axes`, or pass a `voice_code` from the
        [Voice Designer](https://www.bithuman.ai/voice). Supports 30+ languages,
        per-request quality / speed tuning, and optional sentence-by-sentence
        streaming. An unknown `voice_code` returns `404 VOICE_NOT_FOUND`.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  description: Text to synthesize (any length; multi-sentence supported).
                  example: "Hello from bitHuman."
                voice:
                  type: string
                  description: Voice ID. Built-in voices are `M1`-`M5` (male) and `F1`-`F5` (female). List them with `GET /v1/voices`.
                  default: "M1"
                  example: "F1"
                voice_code:
                  type: string
                  description: |
                    A designed-voice handle from the [Voice Designer](https://www.bithuman.ai/voice).
                    Expands server-side to a base voice + tuning, so you don't send `voice` / `axes`
                    yourself. A UUID references a saved voice; a `bv1_…` code self-encodes the config.
                    Takes precedence over `voice` when present.
                  example: "f8fb5feb-8a19-435c-89e5-a286a03565ec"
                axes:
                  type: object
                  description: |
                    Inline voice tuning — the same semantic axes as `GET /v1/studio/axes`
                    (`gender`, `pitch`, `rate`, `brightness`). Offsets are small (roughly −0.3…0.3);
                    `0` is neutral. Ignored when `voice_code` is supplied.
                  additionalProperties:
                    type: number
                  example:
                    gender: 0.1
                    pitch: 0.05
                    rate: -0.1
                    brightness: 0.2
                language:
                  type: string
                  description: ISO-2 language code. 30+ languages supported (the advertised count and the live server list don't always match exactly).
                  default: "en"
                  example: "en"
                total_steps:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 8
                  description: Denoise step count. `5`=fast/lower quality, `8`=balanced, `12`=highest.
                speed:
                  type: number
                  minimum: 0.7
                  maximum: 2.0
                  default: 1.05
                  description: Playback rate.
                format:
                  type: string
                  enum: [wav, pcm_s16le]
                  default: wav
                  description: Response audio format.
                stream:
                  type: boolean
                  default: false
                  description: If true, returns sentence-chunked length-prefixed PCM frames.
      responses:
        "200":
          description: Audio bytes (WAV or PCM, per request `format`).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
            audio/pcm:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: "`voice_code` did not resolve to a known voice (`VOICE_NOT_FOUND`)."
        "503":
          description: Queue full / service overloaded. Retry with backoff.

  /v1/voices:
    get:
      operationId: listVoices
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/voices \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List available voices
      description: Returns the catalog of built-in and custom voices.
      tags: [Voice]
      responses:
        "200":
          description: Voice catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  voices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "F1"
                        kind:
                          type: string
                          enum: [builtin, custom]
                          example: "builtin"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/audio/speech:
    post:
      operationId: openaiCompatSpeech
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/audio/speech \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"model": "tts-1", "input": "Hello from bitHuman.", "voice": "M1"}' \
              --output speech.wav
      summary: OpenAI-compatible speech endpoint
      description: |
        Drop-in compatible with OpenAI's `POST /v1/audio/speech`. Useful for
        migrating existing OpenAI clients to bitHuman without code changes —
        swap the base URL to `https://api.bithuman.ai/v1` and the auth
        header to `api-secret`.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                model:
                  type: string
                  description: Ignored — bitHuman uses its own TTS model. Pass `"tts-1"` for compatibility.
                  example: "tts-1"
                input:
                  type: string
                  description: Text to synthesize.
                  example: "Hello from bitHuman."
                voice:
                  type: string
                  description: bitHuman voice ID (`M1`-`F5`).
                  default: "M1"
                response_format:
                  type: string
                  enum: [wav]
                  default: wav
                speed:
                  type: number
                  minimum: 0.7
                  maximum: 2.0
                  default: 1.05
      responses:
        "200":
          description: Audio bytes (WAV by default).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/studio/axes:
    get:
      operationId: listVoiceAxes
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/studio/axes \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List voice-tuning semantic axes
      description: |
        Returns the available semantic axes (gender, pitch, rate, brightness)
        plus how each built-in voice projects onto them and the suggested
        slider range. Powers the Tune popover in the Voice Playground.
      tags: [Voice]
      responses:
        "200":
          description: Axis catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  axes:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "pitch"
                        description:
                          type: string
                          example: "Pitch: − lower, + higher"
                        suggested_min:
                          type: number
                          example: -0.28
                        suggested_max:
                          type: number
                          example: 0.28
                        anchor_projections:
                          type: object
                          additionalProperties:
                            type: number
                          description: Per-voice-ID projection onto this axis.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/studio/preview:
    post:
      operationId: previewTunedVoice
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/studio/preview \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"text": "Tuned voice preview.", "base_voice": "F1", "axes": {"pitch": 0.15}}' \
              --output preview.wav
      summary: Preview an axis-edited voice
      description: |
        Synthesize a one-off audio clip using a built-in voice edited along
        the semantic axes returned by `GET /v1/studio/axes`. The edited voice
        is ephemeral — it is NOT persisted in the voice catalog.
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, base_voice]
              properties:
                text:
                  type: string
                  example: "Tuned voice preview."
                base_voice:
                  type: string
                  description: Built-in voice ID (`M1`-`F5`) to edit.
                  example: "F1"
                axes:
                  type: object
                  description: Optional map of axis-name → float value. Omit to preview the unedited base voice.
                  additionalProperties:
                    type: number
                  example:
                    pitch: 0.15
                    brightness: -0.10
                language:
                  type: string
                  default: "en"
      responses:
        "200":
          description: Audio bytes (WAV).
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/agents:
    get:
      operationId: listAgents
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl "https://api.bithuman.ai/v1/agents?limit=20&status=ready" \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List agents
      description: |
        List the agents owned by your API secret, newest first. Paginated.
      tags: [Agent Management]
      security:
        - apiSecret: []
      parameters:
        - name: limit
          in: query
          description: Page size (1–100).
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - name: offset
          in: query
          description: Number of agents to skip.
          schema: { type: integer, default: 0, minimum: 0 }
        - name: status
          in: query
          description: Filter by generation state (e.g. `ready`, `processing`, `failed`).
          schema: { type: string }
      responses:
        "200":
          description: A page of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Agent" }
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/usage:
    get:
      operationId: getUsage
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl "https://api.bithuman.ai/v1/usage?limit=50&start=2026-06-01T00:00:00Z" \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Usage history
      description: |
        Return your account's usage / activity history, newest first. Each row
        is a metered event. `credits_change` is the signed credit delta — usage
        events are recorded as **positive** credits consumed.
      tags: [Billing]
      security:
        - apiSecret: []
      parameters:
        - name: limit
          in: query
          description: Page size (1–200).
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
        - name: offset
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: start
          in: query
          description: ISO-8601 timestamp; only return events at/after this time.
          schema: { type: string, format: date-time }
        - name: end
          in: query
          description: ISO-8601 timestamp; only return events at/before this time.
          schema: { type: string, format: date-time }
        - name: agent_code
          in: query
          description: Only return events for this agent.
          schema: { type: string }
      responses:
        "200":
          description: A page of usage events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/UsageEvent" }
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/webhooks:
    post:
      operationId: createWebhook
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/webhooks \
              -H "api-secret: $BITHUMAN_API_SECRET" \
              -H "content-type: application/json" \
              -d '{"url": "https://example.com/bithuman/webhook", "events": ["agent.ready", "agent.failed"]}'
            # → data.secret is returned ONCE — store it to verify signatures
      summary: Create a webhook
      description: |
        Register an HTTPS endpoint to receive signed event notifications. The
        response includes a one-time `secret` used to verify the
        `X-BitHuman-Signature` header — store it; it is never returned again.
      tags: [Webhooks]
      security:
        - apiSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  description: HTTPS endpoint to deliver events to.
                  example: "https://example.com/bithuman/webhook"
                events:
                  type: array
                  description: Event types to subscribe to. Omit or pass `[]` to receive all.
                  items:
                    type: string
                    enum: [agent.ready, agent.failed]
                  example: ["agent.ready", "agent.failed"]
                description:
                  type: string
                  description: Optional human-readable label.
      responses:
        "200":
          description: Webhook created (includes the one-time signing secret)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    $ref: "#/components/schemas/WebhookWithSecret"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      operationId: listWebhooks
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/webhooks \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List webhooks
      description: List your registered webhooks (signing secrets are redacted).
      tags: [Webhooks]
      security:
        - apiSecret: []
      responses:
        "200":
          description: Your webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Webhook" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/webhooks/{webhook_id}:
    get:
      operationId: getWebhook
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/webhooks/1de0c020-9d5e-4f8b-a1c2-3d4e5f607182 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Get a webhook
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: The webhook (secret redacted)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: "#/components/schemas/Webhook" }
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteWebhook
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X DELETE https://api.bithuman.ai/v1/webhooks/1de0c020-9d5e-4f8b-a1c2-3d4e5f607182 \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: Delete a webhook
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean, example: true }
                  deleted: { type: boolean, example: true }
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/webhooks/{webhook_id}/test:
    post:
      operationId: testWebhook
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl -X POST https://api.bithuman.ai/v1/webhooks/1de0c020-9d5e-4f8b-a1c2-3d4e5f607182/test \
              -H "api-secret: $BITHUMAN_API_SECRET"
            # delivers a one-off "ping" event to your endpoint
      summary: Send a test event
      description: Deliver a one-off `ping` event to verify the endpoint is reachable.
      tags: [Webhooks]
      security:
        - apiSecret: []
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Delivery attempted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      delivered: { type: boolean, example: true }
                      status_code: { type: integer, example: 200 }
                      attempts: { type: integer, example: 1 }
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/webhooks/{webhook_id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      x-codeSamples:
        - lang: shell
          label: cURL
          source: |
            curl https://api.bithuman.ai/v1/webhooks/1de0c020-9d5e-4f8b-a1c2-3d4e5f607182/deliveries \
              -H "api-secret: $BITHUMAN_API_SECRET"
      summary: List delivery attempts
[...]
